<a href="https://colab.research.google.com/github/jieun0441/DataScience/blob/master/Rent_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Environment Setting

In [1]:
# For Colab Use------------------------------------
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
# Move to directory we want to use: cd + path
# 현재 경로 설정
%cd /content/drive/MyDrive/PropertyGuru/Rent_preprocessed_1

/content/drive/MyDrive/PropertyGuru/Rent_preprocessed_1

In [ ]:
#현재 경로를 알고싶다면
print(os.getcwd())

/content

In [2]:
# install
!pip install datatable

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting datatable
  Downloading datatable-1.0.0-cp38-cp38-manylinux_2_12_x86_64.whl (96.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.6/96.6 MB 10.7 MB/s eta 0:00:00
Installing collected packages: datatable
Successfully installed datatable-1.0.0

In [25]:
# Package loading ===============================================
import pandas as pd
import numpy as np
import datatable as dt
# import missingno as msno
# nltk.download("all")
# import matplotlib.pyplot as plt
# %matplotlib inline
# import matplotlib.font_manager as fm
# import seaborn as sns

In [4]:
# to see the description with a wide column width
pd.set_option('display.max_colwidth', 200)

In [5]:
# 경고 무시
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#현재 디렉토리 폴더 내 파일 리스트 반환
os.listdir()

['.config', 'drive', 'sample_data']

In [70]:
filename = "/content/drive/MyDrive/PropertyGuru/original/property_data_20201102rent.csv"
df = dt.fread(filename)
df = df.to_pandas()
df.head()

,listing_url,agent.name,agent.license,agent.url,agent.agency,agent.phone_number,listing_properties,listing_properties.Type,listing_properties.Tenure,listing_properties.Floor size,...,floor_size,floor_size_unit,price,currency,image_urls,created_at,images,images.url,images.path,images.checksum
0,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,3000.0,sqft,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700336.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700336.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/4c8344a363102f41c0b483a846bc48092e71fa48.jpg,c5efda1c084d057d1c03a91c4907c587
1,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,3000.0,sqft,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700368.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700368.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/9e62c2875e9954dbfd84bdc4268e562ab3b4d526.jpg,d6c319e818d4416ee8989db7e0e660cf
2,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,3000.0,sqft,9494.0,SGD,https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700395.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700395.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/f165ec3a2c01d26a917c33c06911863083c33b1a.jpg,eb46fdff8f1d5408f53edc1252279515
3,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,3000.0,sqft,9494.0,SGD,https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700389.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700389.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/00eecb3b9f26c55a491bb9d4b1bc20d95678241c.jpg,657d7625dc72b8ed0aeab719ad62c468
4,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,3000.0,sqft,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700386.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700386.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/b7d5384e7db26f86e9ce306c9133210c8acd9c95.jpg,3b40592385ba45cf59ddc4393f4e61b5

In [71]:
df.info() 
# Rent
# 2020.11.02 data: 241,117 rows

# Sales
# 2019.10.28 data: 1,345,989개의 rows
# 2020.09.29 data: 1,084,241개의 데이터행
# 2020.11.02 data: 560,188개의 데이터행
# 2020/12/04 data : 941,897개의 데이터행
# 2021/01/14 data : 746,092 rows
# 2021/02/21 data : 119,661 rows
# 2021/03/26 data : 270,614 rows
# 2021/03/29 data : 261,308 rows
# 2021/07/19 data : 200,000 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241117 entries, 0 to 241116
Columns: 160 entries, listing_url to images.checksum
dtypes: datetime64[ns](1), float64(8), object(151)
memory usage: 294.3+ MB

In [72]:
df.columns

Index(['listing_url', 'agent.name', 'agent.license', 'agent.url',
       'agent.agency', 'agent.phone_number', 'listing_properties',
       'listing_properties.Type', 'listing_properties.Tenure',
       'listing_properties.Floor size',
       ...
       'floor_size', 'floor_size_unit', 'price', 'currency', 'image_urls',
       'created_at', 'images', 'images.url', 'images.path', 'images.checksum'],
      dtype='object', length=160)

In [73]:
#renaming column names
df = df.rename(columns={'listing_url':'URL', 'listing_properties.Type': 'Type',
                    'listing_properties.Tenure': 'Tenure', 
                    'listing_properties.Floor size': 'Floorsize',
                    'listing_properties.Developer': 'Developer',
                    'listing_properties.PSF': 'PSF', 
                    'listing_properties.Furnishing':'Furnishing',
                    'listing_properties.TOP': 'TOP',
                    'listing_properties.Floor Level':'Floor',
                    'listing_properties.Listing ID': 'ListingID',
                    'listing_properties.Currently Tenanted':'Tenanted',
                    'listing_properties.Listed on':'Listed_on',
                    'development_properties.Type':'properties.Type',
                    'development_properties.TOP':'properties.TOP',
                    'development_properties.Tenure':'properties.Tenure',
                    'development_properties.Total Unit(s)':'Total Unit(s)',
                    'development_properties.url':'properties.url',
                    'development_properties.name':'properties.name',
                    'amenities.Air-Conditioning':'Air-Conditioning',
                    'amenities.Cooker Hob/Hood': 'Cooker Hood',
                    'amenities.Water Heater': 'Water Heater',
                    'address.latitude': 'latitude',
                    'address.longitude': 'longitude',
                    'number_of_rooms': 'rooms',
                    'number_of_baths': 'bathrooms', 
                    "free_text_description": "description"
                    })

In [74]:
df['Type'].value_counts()

Condominium For Rent                  143234
Apartment For Rent                     50705
4A HDB For Rent                         6788
Cluster House For Rent                  4447
Semi-Detached House For Rent            3661
5I HDB For Rent                         3105
Bungalow House For Rent                 2788
Terraced House For Rent                 2215
3I (Improved) HDB For Rent              2208
4NG (New Generation) HDB For Rent       2183
5A HDB For Rent                         2144
Conservation House For Rent             1927
Detached House For Rent                 1618
Executive Condominium For Rent          1569
3NG (New Generation) HDB For Rent       1391
Walk-up For Rent                        1194
3A HDB For Rent                         1150
4I (Improved) HDB For Rent              1017
Shophouse For Rent                       854
3NG (Modified) HDB For Rent              724
EA (Exec Apartment) HDB For Rent         664
4S (Simplified) HDB For Rent             648
EM (Exec Maisonette) HDB For Rent        560
Good Class Bungalow For Rent             534
Corner Terrace For Rent                  521
3S (Simplified) HDB For Rent             427
Town House For Rent                      383
3I (Modified) HDB For Rent               356
4STD (Standard) HDB For Rent             312
HDB For Rent                             311
3A (Modified) HDB For Rent               301
5S HDB For Rent                          242
3STD (Standard) HDB For Rent             221
1-Room / Studio HDB For Rent             219
Jumbo HDB For Rent                       117
2S (Standard) HDB For Rent                95
                                          83
2I (Improved) HDB For Rent                69
2A HDB For Rent                           51
MG (Multi-Generation) HDB For Rent        46
Terrace HDB For Rent                      35
Name: Type, dtype: int64

In [35]:
# Description title trimming (because it's all same)
# df['description'].head(1).to_excel("/content/drive/MyDrive/PropertyGuru/original/description.xlsx")

In [76]:
import re

df['description'] = df['description'].str.replace(re.compile('<.*?>|\n|h[35]|div class=|itemprop=|description|""'), '')

In [77]:
df['description'] = df['description'].str.replace("<br>", '')
df['description'] = df['description'].str.replace("                                ", '')
df['description'] = df['description'].str.replace("<", '')
df['description'] = df['description'].str.replace(">", '')
df['description'] = df['description'].str.replace("h3", '')
df['description'] = df['description'].str.replace("h5", '')
df['description'] = df['description'].str.replace("/", '')
df['description'] = df['description'].str.replace("div class=", '')
df['description'] = df['description'].str.replace("\n", '')
df['description'] = df['description'].str.replace("description", '')
df['description'] = df['description'].str.replace("Description", '')
df['description'] = df['description'].str.replace("itemprop=", '')
df['description'] = df['description'].str.replace('""', '')
df['description'] = df['description'].str.replace('a href="#show-more" class="show-more" title="Click to view the rest of the details"Read Morea                            div', '')

In [ ]:
# # simple code for above
# to_replace = ['<br>', '                                ', '<', '>', 'h3', 'h5', '/', 'div class=', '\n', 'description', 'Description', 'itemprop=', '""']
# df['description'] = df['description'].replace(to_replace, '', regex=True)

# or
# df['description'] = df['description'].apply(lambda x: x.replace('<br>','').replace('<','').replace('>','').replace('h3','').replace('h5','').replace('/','').replace('div class=','').replace('\n','').replace('description','').replace('Description','').replace('itemprop=','').replace('""',''))

In [56]:
# df['description'].head(40).to_excel("/content/drive/MyDrive/PropertyGuru/original/description.xlsx")

In [80]:
df['description'].head()

0    Ground Floor, High Ceiling, Windy, Ideal for expat families    4 Bedroom Garden Maisonette for rent!1st Floor - Outdoor patio, Living area, dining area, Kitchen, service yard, bomb shelter, utilit...
1
2
3
4
Name: description, dtype: object

In [ ]:
# number of images

In [81]:
df.head()

,URL,agent.name,agent.license,agent.url,agent.agency,agent.phone_number,listing_properties,Type,Tenure,Floorsize,...,floor_size,floor_size_unit,price,currency,image_urls,created_at,images,images.url,images.path,images.checksum
0,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,3000.0,sqft,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700336.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700336.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/4c8344a363102f41c0b483a846bc48092e71fa48.jpg,c5efda1c084d057d1c03a91c4907c587
1,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,3000.0,sqft,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700368.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700368.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/9e62c2875e9954dbfd84bdc4268e562ab3b4d526.jpg,d6c319e818d4416ee8989db7e0e660cf
2,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,3000.0,sqft,9494.0,SGD,https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700395.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700395.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/f165ec3a2c01d26a917c33c06911863083c33b1a.jpg,eb46fdff8f1d5408f53edc1252279515
3,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,3000.0,sqft,9494.0,SGD,https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700389.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700389.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/00eecb3b9f26c55a491bb9d4b1bc20d95678241c.jpg,657d7625dc72b8ed0aeab719ad62c468
4,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,3000.0,sqft,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700386.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700386.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/b7d5384e7db26f86e9ce306c9133210c8acd9c95.jpg,3b40592385ba45cf59ddc4393f4e61b5

In [82]:
# Use value_counts to count the number of duplicates
counts = df['URL'].value_counts()

counts

http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/20315367/for-rent-mon-jervois                  210
http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/3150339/for-rent-orchard-scotts                178
http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/22333500/for-rent-orchard-scotts               174
http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/15742980/for-rent-orchard-scotts               166
http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/20985795/for-rent-alex-residences              140
                                                                                                                                                              ...
http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21483434/for-rent-meyer-road                     1
http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/hdb-for-rent-3-tanjong-pagar-plaza-23269382      1
http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/23272457/for-rent-the-regalia                    1
http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/19706683/for-rent-parkway-view                   1
http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/23253103/for-rent-river-valley                   1
Name: URL, Length: 14363, dtype: int64

In [83]:
# Create a new column with the number of duplicates
df['num_img'] = df['URL'].map(counts)

print(df[['URL', 'num_img']])

                                                                                                                                                         URL  \
0       http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences
1       http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences
2       http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences
3       http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences
4       http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences
...                                                                                                                                                      ...
241112     http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/23044774/for-rent-kensington-park
241113     http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/23044774/for-rent-kensington-park
241114     http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/23044774/for-rent-kensington-park
241115     http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/23044774/for-rent-kensington-park
241116     http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/23044774/for-rent-kensington-park

        num_img
0            34
1            34
2            34
3            34
4            34
...         ...
241112       19
241113       19
241114       19
241115       19
241116       19

[241117 rows x 2 columns]

In [85]:
df.head()

,URL,agent.name,agent.license,agent.url,agent.agency,agent.phone_number,listing_properties,Type,Tenure,Floorsize,...,floor_size_unit,price,currency,image_urls,created_at,images,images.url,images.path,images.checksum,num_img
0,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,sqft,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700336.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700336.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/4c8344a363102f41c0b483a846bc48092e71fa48.jpg,c5efda1c084d057d1c03a91c4907c587,34
1,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,sqft,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700368.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700368.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/9e62c2875e9954dbfd84bdc4268e562ab3b4d526.jpg,d6c319e818d4416ee8989db7e0e660cf,34
2,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,sqft,9494.0,SGD,https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700395.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700395.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/f165ec3a2c01d26a917c33c06911863083c33b1a.jpg,eb46fdff8f1d5408f53edc1252279515,34
3,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,sqft,9494.0,SGD,https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700389.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700389.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/00eecb3b9f26c55a491bb9d4b1bc20d95678241c.jpg,657d7625dc72b8ed0aeab719ad62c468,34
4,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,sqft,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700386.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700386.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/b7d5384e7db26f86e9ce306c9133210c8acd9c95.jpg,3b40592385ba45cf59ddc4393f4e61b5,34

In [91]:
# 결측치 비율이 높은 컬럼 리스트를 추출
# 컬럼 확인 가능한 데이터프레임 만들기. 
count_null = pd.DataFrame()

# 변수 이름이 들어간 컬럼 생성
count_null['variables'] = df.columns.values.tolist()

# 컬럼별로 결측값 갯수 세어서 NaN이라는 컬럼에 넣기
count_null['NaN'] = df.isnull().sum().tolist()

# 결측치 비율 계산하기 % calculation by columns
count_null['Nanperc'] = 100*(count_null['NaN']/len(df))
count_null

# 50% 이상이 결측치인 변수들의 리스트 구하기
too_many_NaN = count_null[count_null['Nanperc']>50]
will_erase = list(too_many_NaN['variables'])

In [92]:
will_erase

['amenities.Bathtub',
 'amenities.Dishwasher',
 'amenities.Dryer',
 'amenities.Ground Floor',
 'amenities.Park / Greenery View',
 'amenities.Intercom',
 'amenities.Oven / Microwave',
 'amenities.Outdoor Patio',
 'amenities.Renovated',
 'amenities.Walk-in-wardrobe',
 'amenities.Covered car park',
 'amenities.Jacuzzi',
 'amenities.Lap pool',
 'amenities.24 hours security',
 'amenities.Wading pool',
 'amenities.City View',
 'amenities.High Floor',
 'amenities.Car Park',
 'amenities.Fitness corner',
 'amenities.Balcony',
 'amenities.Cable TV',
 'amenities.Corner Unit',
 'amenities.Internet Connection',
 'amenities.Jacuzzi.0',
 'amenities.Maidsroom',
 'amenities.Swimming Pool View',
 'amenities.Television',
 'amenities.Clubhouse',
 'amenities.Function room',
 'amenities.Lounge',
 'amenities.Pool Deck',
 'amenities.Reflexology Path',
 'amenities.Spa pool',
 'amenities.Tennis courts',
 'amenities.Playground',
 'amenities.Audio System',
 'amenities.Bombshelter',
 'amenities.Garage',
 'amenities.Private Garden',
 'amenities.Private Pool',
 'amenities.Penthouse',
 'amenities.Basement car park',
 'amenities.Drop Off Point',
 'amenities.Lift lobby',
 'amenities.Main entrance',
 'amenities.Game room',
 'amenities.Bed',
 'amenities.Iron / Ironing Board',
 'amenities.Living Room Furniture',
 'amenities.Launderette',
 'amenities.Library',
 'amenities.Pavillion',
 'amenities.Steam bath',
 'amenities.Terrace',
 'amenities.Fun pool',
 'amenities.Original Condition',
 'amenities.Adult Fitness Stations',
 'amenities.Putting Green',
 'amenities.Sauna',
 'amenities.Squash court',
 'amenities.Colonial Building',
 'amenities.Billiards room',
 'amenities.Mini-Mart',
 'amenities.Multi-purpose hall',
 'amenities.Karaoke',
 'amenities.Jogging track',
 'amenities.Low Floor',
 'amenities.Multi-Storey Car Park',
 'amenities.Dining Room Furniture',
 'amenities.Roof Terrace',
 'amenities.Kitchen Utensils',
 "amenities.Children's Playground",
 'amenities.Sky Lounge',
 'amenities.Sea View',
 'amenities.Basketball court',
 'amenities.Vacuum Cleaner',
 'amenities.Aerobic pool',
 'amenities.Cafes',
 'amenities.Eateries',
 'amenities.Open car park',
 'amenities.Amphitheatre',
 'amenities.Community Garden',
 'amenities.Meeting room',
 'amenities.Adventure park',
 'amenities.Bowling alley',
 'amenities.Aircon Facilities',
 'amenities.DVD Player',
 'amenities.Badminton hall',
 'amenities.Hairdryer',
 'amenities.Electrical Sub-Station',
 'amenities.Elderly Wellness Stations',
 'amenities.Precinct Pavilion',
 'amenities.Driving range',
 'amenities.Shelters',
 'amenities.Lake View',
 'amenities.Mini golf range',
 'amenities.Existing Bus Stop',
 'amenities.Covered Linkways',
 'amenities.Pantry',
 'amenities.Community Plaza',
 'amenities.24-Hour Access',
 'amenities.Car Parking',
 'amenities.Utilities Center',
 'amenities.Kitchen',
 'amenities.Meeting Rooms',
 'amenities.CCTV Security',
 'amenities.Large Floor Plates']

In [93]:
# slimming dataframe into df2 by erasing columns with more 50% missings
df2 = df.drop(columns = will_erase)
df2.info() # 53개 컬럼만 남았음. 행은 241,117개 존재.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241117 entries, 0 to 241116
Data columns (total 54 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   URL                                     241117 non-null  object
 1   agent.name                              241117 non-null  object
 2   agent.license                           241117 non-null  object
 3   agent.url                               241117 non-null  object
 4   agent.agency                            241117 non-null  object
 5   agent.phone_number                      241117 non-null  object
 6   listing_properties                      241117 non-null  object
 7   Type                                    241117 non-null  object
 8   Tenure                                  241117 non-null  object
 9   Floorsize                               241117 non-null  object
 10  Developer                               241117 non-null  object
 11  listing_properties.Land size            241117 non-null  object
 12  PSF                                     241117 non-null  object
 13  Furnishing                              241117 non-null  object
 14  TOP                                     241117 non-null  object
 15  Floor                                   241117 non-null  object
 16  ListingID                               241022 non-null  float64
 17  listing_properties.Availability         241117 non-null  object
 18  Listed_on                               241117 non-null  object
 19  listing_properties.Maintenance Fee      241117 non-null  object
 20  development_properties.Completion Year  217579 non-null  float64
 21  properties.Tenure                       241117 non-null  object
 22  Total Unit(s)                           192284 non-null  float64
 23  properties.url                          241117 non-null  object
 24  properties.name                         241117 non-null  object
 25  amenities                               241117 non-null  object
 26  Air-Conditioning                        190760 non-null  object
 27  Cooker Hood                             149848 non-null  object
 28  amenities.Fridge                        148593 non-null  object
 29  amenities.Washing Machine               146995 non-null  object
 30  Water Heater                            164914 non-null  object
 31  amenities.Gymnasium room                141216 non-null  object
 32  amenities.Barbeque Area                 122429 non-null  object
 33  amenities.Swimming pool                 130416 non-null  object
 34  description                             241117 non-null  object
 35  address.country                         241117 non-null  object
 36  address.street                          241117 non-null  object
 37  address.postal_code                     235025 non-null  float64
 38  address.locality                        241117 non-null  object
 39  latitude                                240422 non-null  float64
 40  longitude                               240422 non-null  float64
 41  rooms                                   241117 non-null  object
 42  bathrooms                               241117 non-null  object
 43  floor_size                              241034 non-null  float64
 44  floor_size_unit                         241117 non-null  object
 45  price                                   240961 non-null  float64
 46  currency                                241117 non-null  object
 47  image_urls                              241117 non-null  object
 48  created_at                              241117 non-null  datetime64[ns]
 49  images                                  241117 non-null  object
 50  images.url                              241117 non-null  object
 51  images.path                             241117 non-null  object
 52  images.checksum                         241117 non-null  object
 53  num_img                                 241117 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(1), object(44)
memory usage: 99.3+ MB

In [168]:
df2['agent.license'].value_counts(dropna=False)

                             13169
CEA: R046484A / L3009250K     1280
CEA: R044190F / L3002382K     1132
CEA: R044643F / L3009793I     1107
CEA: R059242D / L3008022J      870
                             ...
CEA: R026567I / L3002382K        1
CEA: R051876C / L3008899K        1
CEA: R020537D / L3009250K        1
CEA: R011298H / L3008022J        1
CEA: R002350J / L3008022J        1
Name: agent.license, Length: 5462, dtype: int64

In [94]:
df2.head()

,URL,agent.name,agent.license,agent.url,agent.agency,agent.phone_number,listing_properties,Type,Tenure,Floorsize,...,floor_size_unit,price,currency,image_urls,created_at,images,images.url,images.path,images.checksum,num_img
0,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,sqft,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700336.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700336.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/4c8344a363102f41c0b483a846bc48092e71fa48.jpg,c5efda1c084d057d1c03a91c4907c587,34
1,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,sqft,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700368.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700368.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/9e62c2875e9954dbfd84bdc4268e562ab3b4d526.jpg,d6c319e818d4416ee8989db7e0e660cf,34
2,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,sqft,9494.0,SGD,https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700395.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700395.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/f165ec3a2c01d26a917c33c06911863083c33b1a.jpg,eb46fdff8f1d5408f53edc1252279515,34
3,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,sqft,9494.0,SGD,https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700389.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700389.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/00eecb3b9f26c55a491bb9d4b1bc20d95678241c.jpg,657d7625dc72b8ed0aeab719ad62c468,34
4,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/21989918/for-rent-duchess-residences,Julian Zhuo,CEA: R042428I / L3008022J,https://propertyguru.com.sg/agent/julian-zhuo-455852,PROPNEX REALTY PTE LTD,+65 8786 4499,b'',Condominium For Rent,999-year Leasehold,3000 sqft,...,sqft,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700386.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700386.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/b7d5384e7db26f86e9ce306c9133210c8acd9c95.jpg,3b40592385ba45cf59ddc4393f4e61b5,34

In [95]:
df2.columns

Index(['URL', 'agent.name', 'agent.license', 'agent.url', 'agent.agency',
       'agent.phone_number', 'listing_properties', 'Type', 'Tenure',
       'Floorsize', 'Developer', 'listing_properties.Land size', 'PSF',
       'Furnishing', 'TOP', 'Floor', 'ListingID',
       'listing_properties.Availability', 'Listed_on',
       'listing_properties.Maintenance Fee',
       'development_properties.Completion Year', 'properties.Tenure',
       'Total Unit(s)', 'properties.url', 'properties.name', 'amenities',
       'Air-Conditioning', 'Cooker Hood', 'amenities.Fridge',
       'amenities.Washing Machine', 'Water Heater', 'amenities.Gymnasium room',
       'amenities.Barbeque Area', 'amenities.Swimming pool', 'description',
       'address.country', 'address.street', 'address.postal_code',
       'address.locality', 'latitude', 'longitude', 'rooms', 'bathrooms',
       'floor_size', 'floor_size_unit', 'price', 'currency', 'image_urls',
       'created_at', 'images', 'images.url', 'images.path', 'images.checksum',
       'num_img'],
      dtype='object')

In [101]:
df2[[  'price', 'currency', 'image_urls',
       'created_at', 'images', 'images.url', 'images.path', 'images.checksum',
       'num_img']].head()

,price,currency,image_urls,created_at,images,images.url,images.path,images.checksum,num_img
0,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700336.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700336.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/4c8344a363102f41c0b483a846bc48092e71fa48.jpg,c5efda1c084d057d1c03a91c4907c587,34
1,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700368.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700368.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/9e62c2875e9954dbfd84bdc4268e562ab3b4d526.jpg,d6c319e818d4416ee8989db7e0e660cf,34
2,9494.0,SGD,https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700395.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700395.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/f165ec3a2c01d26a917c33c06911863083c33b1a.jpg,eb46fdff8f1d5408f53edc1252279515,34
3,9494.0,SGD,https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700389.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg2-cdn.pgimgs.com/listing/21989918/UPHO.110700389.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/00eecb3b9f26c55a491bb9d4b1bc20d95678241c.jpg,657d7625dc72b8ed0aeab719ad62c468,34
4,9494.0,SGD,https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700386.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,2020-11-02 08:55:53.259367,b'',https://sg1-cdn.pgimgs.com/listing/21989918/UPHO.110700386.V800/Duchess-Residences-Tanglin-Holland-Bukit-Timah-Singapore.jpg,full/b7d5384e7db26f86e9ce306c9133210c8acd9c95.jpg,3b40592385ba45cf59ddc4393f4e61b5,34

In [100]:
df2['properties.name'].value_counts()

b''    241117
Name: properties.name, dtype: int64

In [102]:
# 좀 더 불필요한 컬럼 더 잘라내 다듬기
# don't need these columns, so will drop these
 # agent name은 오류 일으킬 수 있어 삭제(license와 중복정보) 'agent.license', 'agent.url', 'agent.agency', 'agent.phone_number'
 # 'address.street', 'address.postal_code' # 싱가포르는 공통이므로 삭제
will_erase_noneed = ['agent.name','address.country', 'listing_properties', 'listing_properties.Land size', 'listing_properties.Maintenance Fee','properties.url','properties.name', 'amenities',
       'Air-Conditioning', 'Cooker Hood', 'amenities.Fridge',
       'amenities.Washing Machine', 'Water Heater', 'amenities.Gymnasium room',
       'amenities.Barbeque Area', 'amenities.Swimming pool', \
                     'images', 'floor_size_unit', 'currency'] #모두 sqft, SGD인 것으로 볼 수 있어 불필요 

# dropping the columns and creating slimmer dataset
df3 = df2.drop(columns = will_erase_noneed)

In [103]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241117 entries, 0 to 241116
Data columns (total 35 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   URL                                     241117 non-null  object
 1   agent.license                           241117 non-null  object
 2   agent.url                               241117 non-null  object
 3   agent.agency                            241117 non-null  object
 4   agent.phone_number                      241117 non-null  object
 5   Type                                    241117 non-null  object
 6   Tenure                                  241117 non-null  object
 7   Floorsize                               241117 non-null  object
 8   Developer                               241117 non-null  object
 9   PSF                                     241117 non-null  object
 10  Furnishing                              241117 non-null  object
 11  TOP                                     241117 non-null  object
 12  Floor                                   241117 non-null  object
 13  ListingID                               241022 non-null  float64
 14  listing_properties.Availability         241117 non-null  object
 15  Listed_on                               241117 non-null  object
 16  development_properties.Completion Year  217579 non-null  float64
 17  properties.Tenure                       241117 non-null  object
 18  Total Unit(s)                           192284 non-null  float64
 19  description                             241117 non-null  object
 20  address.street                          241117 non-null  object
 21  address.postal_code                     235025 non-null  float64
 22  address.locality                        241117 non-null  object
 23  latitude                                240422 non-null  float64
 24  longitude                               240422 non-null  float64
 25  rooms                                   241117 non-null  object
 26  bathrooms                               241117 non-null  object
 27  floor_size                              241034 non-null  float64
 28  price                                   240961 non-null  float64
 29  image_urls                              241117 non-null  object
 30  created_at                              241117 non-null  datetime64[ns]
 31  images.url                              241117 non-null  object
 32  images.path                             241117 non-null  object
 33  images.checksum                         241117 non-null  object
 34  num_img                                 241117 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(1), object(25)
memory usage: 64.4+ MB

In [104]:
# Type변수에서 특수한 주택유형에 해당하는 데이터 제거 작업 수행
df3 = df3[~df3['Type'].str.contains("Bungalow|Land|Semi|Terraced|Detached", na=False, case=False)]
len(df3)

230301

In [105]:
# 분석에 필수적인 변수가 결측인 경우 삭제
important_vars = ['Listed_on', 'price', 'latitude', 'longitude']
# drop the rows when important_vars column has missing
df3 = df3.dropna(subset = important_vars)
df3.info() #

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229718 entries, 0 to 241116
Data columns (total 35 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   URL                                     229718 non-null  object
 1   agent.license                           229718 non-null  object
 2   agent.url                               229718 non-null  object
 3   agent.agency                            229718 non-null  object
 4   agent.phone_number                      229718 non-null  object
 5   Type                                    229718 non-null  object
 6   Tenure                                  229718 non-null  object
 7   Floorsize                               229718 non-null  object
 8   Developer                               229718 non-null  object
 9   PSF                                     229718 non-null  object
 10  Furnishing                              229718 non-null  object
 11  TOP                                     229718 non-null  object
 12  Floor                                   229718 non-null  object
 13  ListingID                               229718 non-null  float64
 14  listing_properties.Availability         229718 non-null  object
 15  Listed_on                               229718 non-null  object
 16  development_properties.Completion Year  215717 non-null  float64
 17  properties.Tenure                       229718 non-null  object
 18  Total Unit(s)                           191021 non-null  float64
 19  description                             229718 non-null  object
 20  address.street                          229718 non-null  object
 21  address.postal_code                     227086 non-null  float64
 22  address.locality                        229718 non-null  object
 23  latitude                                229718 non-null  float64
 24  longitude                               229718 non-null  float64
 25  rooms                                   229718 non-null  object
 26  bathrooms                               229718 non-null  object
 27  floor_size                              229718 non-null  float64
 28  price                                   229718 non-null  float64
 29  image_urls                              229718 non-null  object
 30  created_at                              229718 non-null  datetime64[ns]
 31  images.url                              229718 non-null  object
 32  images.path                             229718 non-null  object
 33  images.checksum                         229718 non-null  object
 34  num_img                                 229718 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(1), object(25)
memory usage: 63.1+ MB

In [106]:
# 숫자 부분만 추출
df3['Listed_on_num'] = df3['Listed_on'].str.split(' ').str.get(0)

# 시간단위 부분만 추출
df3['Listed_on_day'] = df3['Listed_on'].str.split(' ').str.get(1)

# time unit -  list of lists
posted = [['second', 'seconds','minute', 'minutes', 'hour', 'hours'], ['day','days'], ['week', 'weeks'], ['month', 'months'], ['year', 'years']]

In [107]:
for idx, time in enumerate(posted):
    df3['Listed_on_day'].replace(time, idx, inplace = True)
# 2=week -> 7 days, 3=month -> 30 days, 4=year -> 365
    df3['Listed_on_day'].replace(0, 0, inplace = True)
    df3['Listed_on_day'].replace(1, 1, inplace = True)
    df3['Listed_on_day'].replace(2, 7, inplace = True)
    df3['Listed_on_day'].replace(3,30, inplace = True)
    df3['Listed_on_day'].replace(4,365, inplace = True)

In [108]:
df.columns

Index(['URL', 'agent.name', 'agent.license', 'agent.url', 'agent.agency',
       'agent.phone_number', 'listing_properties', 'Type', 'Tenure',
       'Floorsize',
       ...
       'floor_size_unit', 'price', 'currency', 'image_urls', 'created_at',
       'images', 'images.url', 'images.path', 'images.checksum', 'num_img'],
      dtype='object', length=161)

In [ ]:
df3['Listed_on_num'].value_counts(dropna = False)

In [111]:
df3['Listed_on_day'].value_counts(dropna=False)

1     102178
7      90751
0      29820
30      6969
Name: Listed_on_day, dtype: int64

In [ ]:
# df3['Listed_on'].isnull().sum()

In [112]:
# Listed_on_day가 결측인 행 확인
df3[['Listed_on', 'Listed_on_day']][df3.Listed_on_day.isnull()].head(20)

Empty DataFrame
Columns: [Listed_on, Listed_on_day]
Index: []

In [113]:
# Listed_on_day가 결측인 행 제거
df3 = df3.loc[~df3['Listed_on_day'].isnull()]

In [ ]:
df3['days_past'] = df3['Listed_on_num'].astype('int64') * df3['Listed_on_day'].astype('int64')

In [117]:
# Listed_on column replacing to days

df3[['Listed_on','days_past']].tail(5)

          Listed_on  days_past
241112  1 month ago         30
241113  1 month ago         30
241114  1 month ago         30
241115  1 month ago         30
241116  1 month ago         30

In [118]:
df3.days_past.max() # 가장 오래된 데이터?

30

In [119]:
# created_at variable(2019-10-26 11:16:00.207427), converting year-month=day
df3.loc[:,'date_created_at'] = pd.to_datetime(df3.loc[:,'created_at'].astype(str).str[:10])
df3.loc[:,'date_created_at'].head(5)

0   2020-11-02
1   2020-11-02
2   2020-11-02
3   2020-11-02
4   2020-11-02
Name: date_created_at, dtype: datetime64[ns]

In [120]:
df3.loc[:,"listed_date"] = df3.loc[:,'date_created_at'] - pd.to_timedelta(df3.loc[:,'days_past'], unit = 'd')

In [121]:
df3[['date_created_at',"Listed_on", 'days_past', 'listed_date']]

       date_created_at    Listed_on  days_past listed_date
0           2020-11-02  6 hours ago          0  2020-11-02
1           2020-11-02  6 hours ago          0  2020-11-02
2           2020-11-02  6 hours ago          0  2020-11-02
3           2020-11-02  6 hours ago          0  2020-11-02
4           2020-11-02  6 hours ago          0  2020-11-02
...                ...          ...        ...         ...
241112      2020-11-03  1 month ago         30  2020-10-04
241113      2020-11-03  1 month ago         30  2020-10-04
241114      2020-11-03  1 month ago         30  2020-10-04
241115      2020-11-03  1 month ago         30  2020-10-04
241116      2020-11-03  1 month ago         30  2020-10-04

[229718 rows x 4 columns]

In [122]:
df3.listed_date.min()

Timestamp('2020-10-04 00:00:00')

In [123]:
df3.listed_date.max()

Timestamp('2020-11-03 00:00:00')

In [135]:
max_year = df3.listed_year.max()
max_year

2020

In [124]:
df3['listed_year'] = df3['listed_date'].dt.year

### 분양용 매물 제거

In [129]:
df3.columns

Index(['URL', 'agent.license', 'agent.url', 'agent.agency',
       'agent.phone_number', 'Type', 'Tenure', 'Floorsize', 'Developer', 'PSF',
       'Furnishing', 'TOP', 'Floor', 'ListingID',
       'listing_properties.Availability', 'Listed_on',
       'development_properties.Completion Year', 'properties.Tenure',
       'Total Unit(s)', 'description', 'address.street', 'address.postal_code',
       'address.locality', 'latitude', 'longitude', 'rooms', 'bathrooms',
       'floor_size', 'price', 'image_urls', 'created_at', 'images.url',
       'images.path', 'images.checksum', 'num_img', 'Listed_on_num',
       'Listed_on_day', 'days_past', 'date_created_at', 'listed_date',
       'listed_year'],
      dtype='object')

In [144]:
df3['TOP'].value_counts(dropna=False).to_excel("/content/drive/MyDrive/PropertyGuru/original/TOP.xlsx")
# 확인 결과, TOP에 N/A가 있었음

In [145]:
df3['TOP'].value_counts(dropna=False)

2014    18711
2017    15876
2016    15248
2013    12867
2015    12338
        ...
2022       11
1966        7
1900        4
1921        2
1950        1
Name: TOP, Length: 71, dtype: int64

In [139]:
type(max_year)

numpy.int64

In [149]:
# Define a condition
condition = (df3['TOP'] != "2021") & (df3['TOP'] != "2022")

In [150]:
# Apply the condition to the dataframe
df3 = df3[condition]

In [153]:
len(df3)

226655

### 게시글별로 중복 제거

In [152]:
# 리스팅 'URL' 기준으로 중복행 제거
df4 = df3.drop_duplicates(['URL'], keep='first', ignore_index=False)
len(df4)

13269

### HDB, Condo, Apartment 변수 생성

In [154]:
df4['Type'].value_counts()

Condominium For Rent                  7071
Apartment For Rent                    3036
4A HDB For Rent                        718
5I HDB For Rent                        280
4NG (New Generation) HDB For Rent      228
Cluster House For Rent                 222
3I (Improved) HDB For Rent             189
5A HDB For Rent                        186
3NG (New Generation) HDB For Rent      140
Conservation House For Rent            125
3A HDB For Rent                        120
Walk-up For Rent                       119
Executive Condominium For Rent          97
4I (Improved) HDB For Rent              86
3NG (Modified) HDB For Rent             69
4S (Simplified) HDB For Rent            69
Shophouse For Rent                      67
EA (Exec Apartment) HDB For Rent        59
EM (Exec Maisonette) HDB For Rent       50
Corner Terrace For Rent                 45
4STD (Standard) HDB For Rent            39
HDB For Rent                            36
3S (Simplified) HDB For Rent            35
3I (Modified) HDB For Rent              29
Town House For Rent                     28
3A (Modified) HDB For Rent              24
3STD (Standard) HDB For Rent            22
5S HDB For Rent                         21
1-Room / Studio HDB For Rent            21
Jumbo HDB For Rent                      10
2S (Standard) HDB For Rent               8
2A HDB For Rent                          7
2I (Improved) HDB For Rent               7
Terrace HDB For Rent                     3
MG (Multi-Generation) HDB For Rent       3
Name: Type, dtype: int64

In [155]:
# Type 구분 컬럼 생성
df4['HDB'] = df4['Type'].str.contains('HDB')
df4['Condo'] = df4['Type'].str.contains('Condo')
df4['Apartment'] = df4['Type'].str.contains('Apartment For Rent')
df4[['Type','HDB', 'Condo', 'Apartment']].head(10)

                       Type    HDB  Condo  Apartment
0      Condominium For Rent  False   True      False
34     Condominium For Rent  False   True      False
50     Condominium For Rent  False   True      False
76     Condominium For Rent  False   True      False
103  Cluster House For Rent  False  False      False
123    Condominium For Rent  False   True      False
139    Condominium For Rent  False   True      False
159    Condominium For Rent  False   True      False
206    Condominium For Rent  False   True      False
247      Apartment For Rent  False  False       True

In [156]:
len(df4)

13269

In [157]:
df4.columns

Index(['URL', 'agent.license', 'agent.url', 'agent.agency',
       'agent.phone_number', 'Type', 'Tenure', 'Floorsize', 'Developer', 'PSF',
       'Furnishing', 'TOP', 'Floor', 'ListingID',
       'listing_properties.Availability', 'Listed_on',
       'development_properties.Completion Year', 'properties.Tenure',
       'Total Unit(s)', 'description', 'address.street', 'address.postal_code',
       'address.locality', 'latitude', 'longitude', 'rooms', 'bathrooms',
       'floor_size', 'price', 'image_urls', 'created_at', 'images.url',
       'images.path', 'images.checksum', 'num_img', 'Listed_on_num',
       'Listed_on_day', 'days_past', 'date_created_at', 'listed_date',
       'listed_year', 'HDB', 'Condo', 'Apartment'],
      dtype='object')

### virtual_tour변수 생성

In [163]:
#@title 특정키워드 포함여부(Contains)
#'Virtual' 뷰잉 가능여부 더미 생성

# Create a new column 'contains_virtual' indicating whether the 'text' column contains the word 'virtual'
df4['description_lower'] = df4['description'].str.casefold()
search_str = df4['description_lower'].str.extract('(virtual|video|youtube|live tour|online tour|online viewing|360 tour)', expand=False)
df4['contains_virtual'] = search_str.notna()

In [164]:
virtual_rows = df4[['description', 'contains_virtual']].loc[df4['contains_virtual'] == True]
print(virtual_rows)

                                                                                                                                                                                                    description  \
159     Brand new 2br premium for rent    Just TOP! BE the 1st tenant to move into this Morden, classy beautiful 2br 2 bath unit High floor Unblock panoramic view Door step to Kovan MRT Station Wet Market...
979     High floor spacious and private 1 bedder available for lease    *** ZOOM video viewing is available! ***Buzz Zhi Wei for an immediate viewing now.Visit my:Webpage | www.tanzhiwei.sgInstagram | www...
1072    High floor with almost brand new condition.    *** ZOOM video viewing is available! ***Buzz Zhi Wei for an immediate viewing now.Visit my:Webpage | www.tanzhiwei.sgInstagram | www.instagram.comtan...
1190    New listing Low floor pool facing. No pm sun. Call Thomas to view!    New Listing!Low floor pool facing with no afternoon sunCorner unitWatch my Virtual 360 tour to understand the spaciousness and...
1411    Duplex penthouse, immaculate condition    Rare and beautiful penthouse, lovingly kept by the owners. With a coveted North-South orientation, this bright unit is truly a gem in the East. Perfect fo...
...                                                                                                                                                                                                         ...
239240  Call now to enquire    NEW LISTING!High floor, extremely well designed and functional good sized one bedroom. Fully Furnished with unblocked view. Suitable for singles or couples for a city living...
239803  Brand New unit    SKYPARK @ SOMERSET for rent 4 bedroom single floor plate.  Big size unit 3348sf .Duplex double volume. 2 units per floor, currently both units are combine as one)*Total approx. 3...
240390  2 bed 3 bath. Price negot    Dover Parkview       (( New for Lease ))2 Bedrm + Utility roomFully furnishedGood conditionFull furnishedQuiet facing2 mins walk to amenites and Fairprice(Supermarket)...
240626  Award Winning Condo at Prime Location    ★ Enjoy Spectacular View of Singapore's famous Financial District★★Click on Virtual Tour★✔️Showflat unit with ID Decor✔️Full Furnishing✔️2 Bedroom + Balcon...
240763  Short walk to schools and shopping    Viewing via video virtual tour or zoom. Value for Money rental.Walking distance to shopping belt of Orchard RoadPinetree Condominium is low density condo situ...

        contains_virtual
159                 True
979                 True
1072                True
1190                True
1411                True
...                  ...
239240              True
239803              True
240390              True
240626              True
240763              True

[487 rows x 2 columns]

In [165]:
len(df4)

13269

In [166]:
df4['Type'].value_counts()

Condominium For Rent                  7071
Apartment For Rent                    3036
4A HDB For Rent                        718
5I HDB For Rent                        280
4NG (New Generation) HDB For Rent      228
Cluster House For Rent                 222
3I (Improved) HDB For Rent             189
5A HDB For Rent                        186
3NG (New Generation) HDB For Rent      140
Conservation House For Rent            125
3A HDB For Rent                        120
Walk-up For Rent                       119
Executive Condominium For Rent          97
4I (Improved) HDB For Rent              86
3NG (Modified) HDB For Rent             69
4S (Simplified) HDB For Rent            69
Shophouse For Rent                      67
EA (Exec Apartment) HDB For Rent        59
EM (Exec Maisonette) HDB For Rent       50
Corner Terrace For Rent                 45
4STD (Standard) HDB For Rent            39
HDB For Rent                            36
3S (Simplified) HDB For Rent            35
3I (Modified) HDB For Rent              29
Town House For Rent                     28
3A (Modified) HDB For Rent              24
3STD (Standard) HDB For Rent            22
5S HDB For Rent                         21
1-Room / Studio HDB For Rent            21
Jumbo HDB For Rent                      10
2S (Standard) HDB For Rent               8
2A HDB For Rent                          7
2I (Improved) HDB For Rent               7
Terrace HDB For Rent                     3
MG (Multi-Generation) HDB For Rent       3
Name: Type, dtype: int64

In [167]:
df4[df4['Condo'] == True].to_excel("/content/drive/MyDrive/PropertyGuru/Rent_preprocessed_2/Condo_Rent_Listings_20201102.xlsx")
df4[df4['HDB'] == True].to_excel("/content/drive/MyDrive/PropertyGuru/Rent_preprocessed_2/HDB_Rent_Listings_20201102.xlsx")
df4[df4['Apartment'] == True].to_excel("/content/drive/MyDrive/PropertyGuru/Rent_preprocessed_2/Apt_Listings_20201102.xlsx")

# 예전코드

In [ ]:
#@title easy code

filenames = os.listdir()

df_1 = dt.fread(filenames[0])
df_2 = dt.fread(filenames[1])
df_3 = dt.fread(filenames[2])
df_4 = dt.fread(filenames[3])
df_5 = dt.fread(filenames[4])
df_6 = dt.fread(filenames[5])
df_7 = dt.fread(filenames[6])
df_8 = dt.fread(filenames[7])
df_9 = dt.fread(filenames[8])

df_1 = df_1.to_pandas()
df_2 = df_2.to_pandas()
df_3 = df_3.to_pandas()
df_4 = df_4.to_pandas()
df_5 = df_5.to_pandas()
df_6 = df_6.to_pandas()
df_7 = df_7.to_pandas()
df_8 = df_8.to_pandas()
df_9 = df_9.to_pandas()

df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9], axis = 0)

In [ ]:
#@title efficient data loading code
import os
import datatable as dt
import pandas as pd

filenames = os.listdir()
dataframes = []

for filename in filenames:
    df = dt.fread(filename)
    df = df.to_pandas()
    dataframes.append(df)

# 여러 데이터프레임 하나로 합치기 (위아래로 합치기)
df_all = pd.concat(dataframes, axis=0)

In [ ]:
df_all.info()

In [ ]:
#@title 쓰지 않을 컬럼 drop
df_all.drop(columns = 'C0', inplace = True)
df_all.columns

Index(['Type', 'Tenure', 'Floorsize', 'Developer', 'PSF', 'Furnishing', 'TOP',
       'Floor', 'ListingID', 'listing_properties.Availability', 'Listed_on',
       'properties.Type', 'properties.TOP', 'properties.Tenure',
       'properties.url', 'properties.name', 'Total Unit(s)',
       'free_text_description', 'address.street', 'address.postal_code',
       'address.locality', 'latitude', 'longitude', 'rooms', 'bathrooms',
       'floor_size', 'price', 'created_at', 'description', 'Listed_on_num',
       'Listed_on_day', 'days_past', 'date_created_at', 'listed_date',
       'pandemic', 'listed_year', 'agent.name',
       'development_properties.Completion Year', 'amenities.Barbeque Area',
       'amenities.Gymnasium room', 'amenities.Swimming pool', 'listing_url',
       'amenities.24 hours security', 'image_urls', 'contains_virtual', 'HDB',
       'Condo', 'Apartment'],
      dtype='object')

### Keyword of Interest

In [ ]:
len(df_all)

258699

                                                                                                                                                                                               description  \
0    Renovated & Clean Room. No owner. * Renovated and clean unit * Private as a corner unit * Air-con and furnished * Free WIFI * No landlord * No cooking * No restriction to the use of common items...
1  View to believe. You'd be willing to pay more than the asking price! ** New Listing **  Just renovated kitchen 1 year ago!  Huge master bedroom!  Unblocked view!  City & greenery view (view of the...
2  Near to many shops Master Room @ Punggol Dr BLK 637B!Cooking allowed! 5-room unit Staying with indian couple only! Friendly landlord Well-maintained room aircon($50/mth) Wifi available Cooking all...
3  Near to many shops 2 x Common Room @ West Coast Road BLK 703! Single female owner 4-room unit Staying with local chinese landlady Friendly landlord Well-maintained room aircon Wifi available no co...
4  Brand New Common Room Rent Brand New Common Room Near Punggol MRT / Sengakang Hospital  ~ Fully Furnished + Aircon + Fan ~ Spacioushi  Room ~ Wifi Available ~ Newly Painted and Renovated House ~ O...

   contains_virtual
0             False
1             False
2             False
3             False
4             False

In [ ]:
#@title virtual 뷰잉 가능 Rent 리스팅 비율
percent_virtual = df_all['contains_virtual'].mean() * 100
print(percent_virtual)

0.7313518799840741

In [ ]:
df_all['Type'].unique()

array(['3I (Improved) HDB For Rent', 'Condominium For Rent',
       'HDB Apartment For Rent', '3A HDB For Rent',
       '4NG (New Generation) HDB For Rent', 'Apartment For Rent',
       '4A HDB For Rent', '5I HDB For Rent', '5A HDB For Rent',
       'EM (Exec Maisonette) HDB For Rent',
       '4S (Simplified) HDB For Rent', 'Executive Condominium For Rent',
       '4STD (Standard) HDB For Rent', '1-Room/Studio HDB For Rent',
       '3NG (New Generation) HDB For Rent',
       'EA (Exec Apartment) HDB For Rent', '3S (Simplified) HDB For Rent',
       '4I (Improved) HDB For Rent', '3I (Modified) HDB For Rent',
       '3NG (Modified) HDB For Rent', 'Jumbo HDB For Rent',
       '3A (Modified) HDB For Rent', '3STD (Standard) HDB For Rent',
       '2I (Improved) HDB For Rent', '5S HDB For Rent', '2A HDB For Rent',
       '2S (Standard) HDB For Rent', 'HDB For Rent',
       '1-Room / Studio HDB For Rent',
       'MG (Multi-Generation) HDB For Rent', 'HDB Flat For Rent',
       'Condominium For Sale'], dtype=object)

In [ ]:
len(df_all)

258699

In [ ]:
df_all['Type'].value_counts()

Condominium For Rent                  133760
Apartment For Rent                     56206
4A HDB For Rent                        21902
5I HDB For Rent                        11474
4NG (New Generation) HDB For Rent       4280
Jumbo HDB For Rent                      4106
3I (Improved) HDB For Rent              3596
5A HDB For Rent                         3346
3A HDB For Rent                         3060
3NG (New Generation) HDB For Rent       2718
HDB Apartment For Rent                  2026
Executive Condominium For Rent          1618
4I (Improved) HDB For Rent              1562
3NG (Modified) HDB For Rent             1384
EA (Exec Apartment) HDB For Rent        1240
4S (Simplified) HDB For Rent            1180
EM (Exec Maisonette) HDB For Rent        986
4STD (Standard) HDB For Rent             700
HDB For Rent                             576
3A (Modified) HDB For Rent               538
3S (Simplified) HDB For Rent             494
3STD (Standard) HDB For Rent             436
3I (Modified) HDB For Rent               412
5S HDB For Rent                          342
1-Room / Studio HDB For Rent             288
2I (Improved) HDB For Rent               124
HDB Flat For Rent                         98
1-Room/Studio HDB For Rent                92
2S (Standard) HDB For Rent                72
2A HDB For Rent                           60
MG (Multi-Generation) HDB For Rent        22
Condominium For Sale                       1
Name: Type, dtype: int64

In [ ]:
# Condominium For Sale 행 제외
# Create a Boolean mask indicating which rows have 'Type' == 'Sale'
mask = df_all['Type'] == 'Condominium For Sale'

# Use the mask to select only the rows that do not have 'Type' == 'Sale'
df_all = df_all[~mask]
df_all['Type'].value_counts()

Condominium For Rent                  133760
Apartment For Rent                     56206
4A HDB For Rent                        21902
5I HDB For Rent                        11474
4NG (New Generation) HDB For Rent       4280
Jumbo HDB For Rent                      4106
3I (Improved) HDB For Rent              3596
5A HDB For Rent                         3346
3A HDB For Rent                         3060
3NG (New Generation) HDB For Rent       2718
HDB Apartment For Rent                  2026
Executive Condominium For Rent          1618
4I (Improved) HDB For Rent              1562
3NG (Modified) HDB For Rent             1384
EA (Exec Apartment) HDB For Rent        1240
4S (Simplified) HDB For Rent            1180
EM (Exec Maisonette) HDB For Rent        986
4STD (Standard) HDB For Rent             700
HDB For Rent                             576
3A (Modified) HDB For Rent               538
3S (Simplified) HDB For Rent             494
3STD (Standard) HDB For Rent             436
3I (Modified) HDB For Rent               412
5S HDB For Rent                          342
1-Room / Studio HDB For Rent             288
2I (Improved) HDB For Rent               124
HDB Flat For Rent                         98
1-Room/Studio HDB For Rent                92
2S (Standard) HDB For Rent                72
2A HDB For Rent                           60
MG (Multi-Generation) HDB For Rent        22
Name: Type, dtype: int64

In [ ]:
# Type 구분 컬럼 생성
df_all['HDB'] = df_all['Type'].str.contains('HDB')
df_all['Condo'] = df_all['Type'].str.contains('Condo')
df_all['Apartment'] = df_all['Type'].str.contains('Apartment For Rent')
df_all[['Type','HDB', 'Condo', 'Apartment']].head(10)

                         Type    HDB  Condo  Apartment
0  3I (Improved) HDB For Rent   True  False      False
1        Condominium For Rent  False   True      False
2      HDB Apartment For Rent   True  False       True
3      HDB Apartment For Rent   True  False       True
4             3A HDB For Rent   True  False      False
5        Condominium For Rent  False   True      False
6      HDB Apartment For Rent   True  False       True
7      HDB Apartment For Rent   True  False       True
8        Condominium For Rent  False   True      False
9      HDB Apartment For Rent   True  False       True

In [ ]:
#@title HDB 렌트매물 중 Virtual 뷰잉 가능 리스팅 비율(%)
mask_HDB = df_all['HDB'] == True
percent_virtual_HDB = df_all[mask_HDB]['contains_virtual'].mean() * 100
print(percent_virtual_HDB)

0.1758202461483446

In [ ]:
#@title Condominium 렌트 매물 중 Virtual 뷰잉 가능 리스팅 비율(%)
mask_Condo = df_all['Condo'] == True
percent_virtual_condo = df_all[mask_Condo]['contains_virtual'].mean() * 100
print(percent_virtual_condo)

0.9514101257220523

In [ ]:
#@title Apartment 렌트 매물 중 Virtual 뷰잉 가능 리스팅 비율(%)
mask_Apartment = df_all['Apartment'] == True
percent_virtual_Apartment = df_all[mask_Apartment]['contains_virtual'].mean() * 100
print(percent_virtual_Apartment)

0.8380272015386729

HDB보다는 Condominium과 Apartment에서 월등히 Virtual 뷰잉을 허용하는 비율이 높음을 알 수 있다.

In [ ]:
#@title Condominium 또는 Apartment 렌트 매물 중에서 Virtual 뷰잉 가능 리스팅 비율(%)
mask_condo_or_Apt = (df_all['Condo'] == True) | (df_all['Apartment'] == True)
percent_virtual_condo_or_Apt = df_all[mask_condo_or_Apt]['contains_virtual'].mean()*100
print(percent_virtual_condo_or_Apt)

0.9173079902897576

### Virtual Viewing이 코로나 이후 많아졌는가?

In [ ]:
df_all.head(5)

,Type,Tenure,Floorsize,Developer,PSF,Furnishing,TOP,Floor,ListingID,listing_properties.Availability,...,amenities.Barbeque Area,amenities.Gymnasium room,amenities.Swimming pool,listing_url,amenities.24 hours security,image_urls,contains_virtual,HDB,Condo,Apartment
0,3I (Improved) HDB For Rent,99-year Leasehold,107 sqft,Housing & Development Board (HDB),S$ 7.29 psf,Fully Furnished,1970.0,Middle Floor,22083659.0,"22 Nov, 2019",...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,False
1,Condominium For Rent,Freehold,1711 sqft,City Development Limited,S$ 2.10 psf,Partially Furnished,1997.0,Penthouse,21626289.0,"29 Dec, 2019",...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False
2,HDB Apartment For Rent,99-year Leasehold,200 sqft,Housing & Development Board (HDB),S$ 3.50 psf,,2003.0,,22083657.0,Ready to move,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True
3,HDB Apartment For Rent,99-year Leasehold,150 sqft,Housing & Development Board (HDB),S$ 5.33 psf,,1979.0,,22083655.0,Ready to move,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True
4,3A HDB For Rent,99-year Leasehold,300 sqft,Housing & Development Board (HDB),S$ 1.17 psf,Fully Furnished,2017.0,,22048081.0,Ready to move,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,False

In [ ]:
df_all.columns

Index(['Type', 'Tenure', 'Floorsize', 'Developer', 'PSF', 'Furnishing', 'TOP',
       'Floor', 'ListingID', 'listing_properties.Availability', 'Listed_on',
       'properties.Type', 'properties.TOP', 'properties.Tenure',
       'properties.url', 'properties.name', 'Total Unit(s)',
       'free_text_description', 'address.street', 'address.postal_code',
       'address.locality', 'latitude', 'longitude', 'rooms', 'bathrooms',
       'floor_size', 'price', 'created_at', 'description', 'Listed_on_num',
       'Listed_on_day', 'days_past', 'date_created_at', 'listed_date',
       'pandemic', 'listed_year', 'agent.name',
       'development_properties.Completion Year', 'amenities.Barbeque Area',
       'amenities.Gymnasium room', 'amenities.Swimming pool', 'listing_url',
       'amenities.24 hours security', 'image_urls', 'contains_virtual', 'HDB',
       'Condo', 'Apartment'],
      dtype='object')

In [ ]:
df_all['listed_year'].value_counts()

2020    106890
2019     79618
2021     72190
Name: listed_year, dtype: int64

In [ ]:
df_all[['listed_year', 'description', 'properties.Type']].head()

,listed_year,description,properties.Type
0,2019,Renovated & Clean Room. No owner. * Renovated and clean unit * Private as a corner unit * Air-con and furnished * Free WIFI * No landlord * No cooking * No restriction to the use of common items...,HDB Apartment
1,2019,View to believe. You'd be willing to pay more than the asking price! ** New Listing ** Just renovated kitchen 1 year ago! Huge master bedroom! Unblocked view! City & greenery view (view of the...,Condominium
2,2019,Near to many shops Master Room @ Punggol Dr BLK 637B!Cooking allowed! 5-room unit Staying with indian couple only! Friendly landlord Well-maintained room aircon($50/mth) Wifi available Cooking all...,HDB Apartment
3,2019,Near to many shops 2 x Common Room @ West Coast Road BLK 703! Single female owner 4-room unit Staying with local chinese landlady Friendly landlord Well-maintained room aircon Wifi available no co...,HDB Apartment
4,2019,Brand New Common Room Rent Brand New Common Room Near Punggol MRT / Sengakang Hospital ~ Fully Furnished + Aircon + Fan ~ Spacioushi Room ~ Wifi Available ~ Newly Painted and Renovated House ~ O...,HDB Apartment

In [ ]:
# 유형별, 연도별 contains_virtual 평균 나타내기

In [ ]:
mask_condo_2019 = (df_all['Condo'] == True)&(df_all['listed_year'] == 2019)
len(df_all[mask_condo_2019])

33800

In [ ]:
mask_condo_2020 = (df_all['Condo'] == True)&(df_all['listed_year'] == 2020)
len(df_all[mask_condo_2020])

62160

In [ ]:
mask_condo_2021 = (df_all['Condo'] == True)&(df_all['listed_year'] == 2021)
len(df_all[mask_condo_2021])

39418

In [ ]:
mask_hdb_2019 = (df_all['HDB'] == True)&(df_all['listed_year']==2019)
mask_hdb_2020 = (df_all['HDB'] == True)&(df_all['listed_year']==2020)
mask_hdb_2021 = (df_all['HDB'] == True)&(df_all['listed_year']==2021)
print(len(df_all[mask_hdb_2019]), len(df_all[mask_hdb_2020]), len(df_all[mask_hdb_2021]))

30646 20482 15986

In [ ]:
mask_apt_2019 = (df_all['Apartment'] == True)&(df_all['listed_year']==2019)
mask_apt_2020 = (df_all['Apartment'] == True)&(df_all['listed_year']==2020)
mask_apt_2021 = (df_all['Apartment'] == True)&(df_all['listed_year']==2021)
print(len(df_all[mask_apt_2019]), len(df_all[mask_apt_2020]), len(df_all[mask_apt_2021]))

17198 24248 16786

In [ ]:
# 2019년 유형별 합계가 2019년 리스팅 갯수랑 안맞아서 확인
mask_apt_hdb = (df_all['Apartment']==True)&(df_all['HDB']==True)
len(df_all[mask_apt_hdb])

2026

In [ ]:
# hdb apartment 타입인 경우 apartment 컬럼을 False로 변경
df_all.loc[mask_apt_hdb, 'Apartment'] = False

In [ ]:
mask_apt_2019 = (df_all['Apartment'] == True)&(df_all['listed_year']==2019)
mask_apt_2020 = (df_all['Apartment'] == True)&(df_all['listed_year']==2020)
mask_apt_2021 = (df_all['Apartment'] == True)&(df_all['listed_year']==2021)
print(len(df_all[mask_apt_2019]), len(df_all[mask_apt_2020]), len(df_all[mask_apt_2021]))

15172 24248 16786

### condo listing 내보내기

In [ ]:
# 콘도 데이터
df_all[df_all['Condo']==True].to_excel("/content/drive/MyDrive/PropertyGuru/Rent_preprocessed_1/Condo_Rent_Listings.xlsx")

In [ ]:
# HDB 데이터
df_all[df_all['HDB']==True].to_excel("/content/drive/MyDrive/PropertyGuru/Rent_preprocessed_1/HDB_Rent_Listings.xlsx")

In [ ]:
# APT 데이터
df_all[df_all['Apartment']==True].to_excel("/content/drive/MyDrive/PropertyGuru/Rent_preprocessed_1/Apartment_Rent_Listings.xlsx")