<a href="https://colab.research.google.com/github/jieun0441/DataScience/blob/master/Sale_Data_Preprocessing_short_ver2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Environment Setting

In [1]:
# For Colab Use------------------------------------
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
import os

In [3]:
#현재 경로를 알고싶다면
print(os.getcwd())

/content

In [2]:
# install
!pip install datatable

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting datatable
  Downloading datatable-1.0.0-cp38-cp38-manylinux_2_12_x86_64.whl (96.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.6/96.6 MB 9.7 MB/s eta 0:00:00
Installing collected packages: datatable
Successfully installed datatable-1.0.0

In [3]:
# Package loading ===============================================
import pandas as pd
import numpy as np
import datatable as dt
# import missingno as msno
# nltk.download("all")
# import matplotlib.pyplot as plt
# %matplotlib inline
# import matplotlib.font_manager as fm
# import seaborn as sns

In [4]:
# to see the description with a wide column width
pd.set_option('display.max_colwidth', 200)

In [5]:
# 경고 무시
import warnings
warnings.filterwarnings('ignore')

In [7]:
# Move to directory we want to use: cd + path
# 현재 경로 설정
%cd /content/drive/MyDrive/PropertyGuru/original_csv_sale
# /content/drive/MyDrive/PropertyGuru/Sale_preprocessed

/content/drive/MyDrive/PropertyGuru/original_csv_sale

In [10]:
#현재 디렉토리 폴더 내 파일 리스트 반환
os.listdir()

['property_sale_20191028.csv',
 'property_sale_20200929.csv',
 'property_sale_20201102.csv',
 'property_sale_20201204.csv',
 'property_sale_20210114.csv',
 'property_sale_20210221.csv',
 'property_sale_20210326.csv',
 'property_sale_20210329.csv',
 'property_sale_20210527.csv']

In [ ]:
# filenames to preprocess

# /content/drive/MyDrive/PropertyGuru/original_csv_sale/property_sale_20191028.csv
# /content/drive/MyDrive/PropertyGuru/original_csv_sale/property_sale_20200929.csv
# /content/drive/MyDrive/PropertyGuru/original_csv_sale/property_sale_20201102.csv
# /content/drive/MyDrive/PropertyGuru/original_csv_sale/property_sale_20201204.csv
# /content/drive/MyDrive/PropertyGuru/original_csv_sale/property_sale_20210114.csv
# /content/drive/MyDrive/PropertyGuru/original_csv_sale/property_sale_20210221.csv
# /content/drive/MyDrive/PropertyGuru/original_csv_sale/property_sale_20210326.csv
# /content/drive/MyDrive/PropertyGuru/original_csv_sale/property_sale_20210329.csv
# /content/drive/MyDrive/PropertyGuru/original_csv_sale/property_sale_20210527.csv

In [11]:
filename = "/content/drive/MyDrive/PropertyGuru/original_csv_sale/property_sale_20200929.csv"
df = dt.fread(filename)
df = df.to_pandas()
df.head()

,C0,listing_url,agent.name,agent.license,agent.url,agent.agency,agent.phone_number,listing_properties,listing_properties.Type,listing_properties.Tenure,...,floor_size,floor_size_unit,price,currency,image_urls,created_at,images,images.url,images.path,images.checksum
0,0,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/hdb-for-sale-487b-tampines-street-45-22412011,Mike Sek Kok Tiong,CEA: R044452B / L3008022J,https://propertyguru.com.sg/agent/mike-sek-kok-tiong-201203,PROPNEX REALTY PTE LTD,+65 9743 4343,b'',4A HDB For Sale,99-year Leasehold,...,1130.0,sqft,420000.0,SGD,https://sg2-cdn.pgimgs.com/listing/22412011/UPHO.124641539.V800/487B-Tampines-Street-45-Pasir-Ris-Tampines-Singapore.jpg,2020-09-30 22:05:57.037205,b'',https://sg2-cdn.pgimgs.com/listing/22412011/UPHO.124641539.V800/487B-Tampines-Street-45-Pasir-Ris-Tampines-Singapore.jpg,full/885636828e666e7ca4020b6b5f7195986021eb3d.jpg,ea71efdbef7ea6ced400b7d4014887c6
1,1,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/hdb-for-sale-487b-tampines-street-45-22412011,Mike Sek Kok Tiong,CEA: R044452B / L3008022J,https://propertyguru.com.sg/agent/mike-sek-kok-tiong-201203,PROPNEX REALTY PTE LTD,+65 9743 4343,b'',4A HDB For Sale,99-year Leasehold,...,1130.0,sqft,420000.0,SGD,https://sg1-cdn.pgimgs.com/listing/22412011/UPHO.124641544.V800/487B-Tampines-Street-45-Pasir-Ris-Tampines-Singapore.jpg,2020-09-30 22:05:57.037205,b'',https://sg1-cdn.pgimgs.com/listing/22412011/UPHO.124641544.V800/487B-Tampines-Street-45-Pasir-Ris-Tampines-Singapore.jpg,full/4682a75692a1febb05290f12ae3a06a29adb2be3.jpg,287534a0ab755377d5df9100273be1c9
2,2,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/hdb-for-sale-487b-tampines-street-45-22412011,Mike Sek Kok Tiong,CEA: R044452B / L3008022J,https://propertyguru.com.sg/agent/mike-sek-kok-tiong-201203,PROPNEX REALTY PTE LTD,+65 9743 4343,b'',4A HDB For Sale,99-year Leasehold,...,1130.0,sqft,420000.0,SGD,https://sg2-cdn.pgimgs.com/listing/22412011/UPHO.124641555.V800/487B-Tampines-Street-45-Pasir-Ris-Tampines-Singapore.jpg,2020-09-30 22:05:57.037205,b'',https://sg2-cdn.pgimgs.com/listing/22412011/UPHO.124641555.V800/487B-Tampines-Street-45-Pasir-Ris-Tampines-Singapore.jpg,full/4d5ba51636b8ebbd5b47b001c031611f2b8c2110.jpg,afa6233498d9ae03f8894843af3f3364
3,3,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/hdb-for-sale-487b-tampines-street-45-22412011,Mike Sek Kok Tiong,CEA: R044452B / L3008022J,https://propertyguru.com.sg/agent/mike-sek-kok-tiong-201203,PROPNEX REALTY PTE LTD,+65 9743 4343,b'',4A HDB For Sale,99-year Leasehold,...,1130.0,sqft,420000.0,SGD,https://sg2-cdn.pgimgs.com/listing/22412011/UPHO.124641563.V800/487B-Tampines-Street-45-Pasir-Ris-Tampines-Singapore.jpg,2020-09-30 22:05:57.037205,b'',https://sg2-cdn.pgimgs.com/listing/22412011/UPHO.124641563.V800/487B-Tampines-Street-45-Pasir-Ris-Tampines-Singapore.jpg,full/1cfb25d7bff011a9b73ab6ae797b73398aeba5e5.jpg,c3786e7663a5c12cc963eaf39b4e60c9
4,4,http://api.scraperapi.com/?api_key=b0560c3ca5b0704c0184a820d4e42d70&url=https://www.propertyguru.com.sg/listing/hdb-for-sale-487b-tampines-street-45-22412011,Mike Sek Kok Tiong,CEA: R044452B / L3008022J,https://propertyguru.com.sg/agent/mike-sek-kok-tiong-201203,PROPNEX REALTY PTE LTD,+65 9743 4343,b'',4A HDB For Sale,99-year Leasehold,...,1130.0,sqft,420000.0,SGD,https://sg1-cdn.pgimgs.com/listing/22412011/UPHO.124641576.V800/487B-Tampines-Street-45-Pasir-Ris-Tampines-Singapore.jpg,2020-09-30 22:05:57.037205,b'',https://sg1-cdn.pgimgs.com/listing/22412011/UPHO.124641576.V800/487B-Tampines-Street-45-Pasir-Ris-Tampines-Singapore.jpg,full/10d93449d019c908ccc70fef33ba166f58fedab1.jpg,70c6737b42be4e53b2639bfc86261433

In [12]:
df.info() 
# Rent
# 2019.10.28 daa: 640099 rows
# 2020.09.29 daa: 418,814 rows
# 2020.11.02 data: 241,117 rows
# 2020.12.04 data: 330801 entries
# 2021/01/14 data : 219856 entries
# 2021/02/21 data : 140918 entries
# 2021/03/26 data :197356 entries
# 2021/03/29 data :61114 entries
# 2021/05/27 data: 116447 entries
# 2021/07/19 data : 211678 entries

# Sales
# 2019.10.28 data: 1,345,989 entries
# 2020.09.29 data: 1,084,242 entries
# 2020.11.02 data: 560,188개의 데이터행
# 2020/12/04 data : 941,897개의 데이터행
# 2021/01/14 data : 746,092 rows
# 2021/02/21 data : 119,661 rows
# 2021/03/26 data : 270,614 rows
# 2021/03/29 data : 261,308 rows
# 2021/07/19 data : 200,000 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084242 entries, 0 to 1084241
Columns: 187 entries, C0 to images.checksum
dtypes: datetime64[ns](1), float64(9), int32(1), object(176)
memory usage: 1.5+ GB

In [13]:
df.columns

Index(['C0', 'listing_url', 'agent.name', 'agent.license', 'agent.url',
       'agent.agency', 'agent.phone_number', 'listing_properties',
       'listing_properties.Type', 'listing_properties.Tenure',
       ...
       'floor_size', 'floor_size_unit', 'price', 'currency', 'image_urls',
       'created_at', 'images', 'images.url', 'images.path', 'images.checksum'],
      dtype='object', length=187)

In [14]:
#renaming column names
df = df.rename(columns={'listing_url':'URL', 'listing_properties.Type': 'Type',
                    'listing_properties.Tenure': 'Tenure', 
                    'listing_properties.Floor size': 'Floorsize',
                    'listing_properties.Developer': 'Developer',
                    'listing_properties.PSF': 'PSF', 
                    'listing_properties.Furnishing':'Furnishing',
                    'listing_properties.TOP': 'TOP',
                    'listing_properties.Floor Level':'Floor',
                    'listing_properties.Listing ID': 'ListingID',
                    'listing_properties.Currently Tenanted':'Tenanted',
                    'listing_properties.Listed on':'Listed_on',
                    'development_properties.Type':'properties.Type',
                    'development_properties.TOP':'properties.TOP',
                    'development_properties.Tenure':'properties.Tenure',
                    'development_properties.Total Unit(s)':'Total Unit(s)',
                    'development_properties.url':'properties.url',
                    'development_properties.name':'properties.name',
                    'amenities.Air-Conditioning':'Air-Conditioning',
                    'amenities.Cooker Hob/Hood': 'Cooker Hood',
                    'amenities.Water Heater': 'Water Heater',
                    'address.latitude': 'latitude',
                    'address.longitude': 'longitude',
                    'number_of_rooms': 'rooms',
                    'number_of_baths': 'bathrooms', 
                    "free_text_description": "description"
                    })

In [ ]:
# Description title trimming (because it's all same)
# df['description'].head(1).to_excel("/content/drive/MyDrive/PropertyGuru/original/description.xlsx")

In [15]:
df['description'].head(1)

0     Description  Call now to enquire 487B Tampines St 45 Lease Start: 01st Nov 1989 Balance 68 years + 105SqM / 1130Sqft  **Only Chinese or Indian/Other Ethnic Group buyers eligible.  #MRT #Tampines ...
Name: description, dtype: object

In [16]:
import re

df['description'] = df['description'].str.replace(re.compile('<.*?>|\n|h[35]|div class=|itemprop=|description|""'), '')

In [20]:
df['description'].head(20)

0        Call now to enquire 487B Tampines St 45 Lease Start: 01st Nov 1989 Balance 68 years + 105SqM  1130Sqft  **Only Chinese or IndianOther Ethnic Group buyers eligible.  #MRT #Tampines East #Origina...
1
2
3
4
5
6
7
8
9
10
11
12
13      Virtual Tour Or Video Avail.Call To Zoom Now! *** Circuit Breaker Sale*** -------------------------------------------------- -- To View - Call Elliott Lim (+65) 94310199  -----------------------...
14
15
16
17
18
19
Name: description, dtype: object

In [17]:
df['description'] = df['description'].str.replace("<br>", '')
df['description'] = df['description'].str.replace("                                ", '')
df['description'] = df['description'].str.replace("<", '')
df['description'] = df['description'].str.replace(">", '')
df['description'] = df['description'].str.replace("h3", '')
df['description'] = df['description'].str.replace("h5", '')
df['description'] = df['description'].str.replace("/", '')
df['description'] = df['description'].str.replace("div class=", '')
df['description'] = df['description'].str.replace("\n", '')
df['description'] = df['description'].str.replace("description", '')
df['description'] = df['description'].str.replace("Description", '')
df['description'] = df['description'].str.replace("itemprop=", '')
df['description'] = df['description'].str.replace('""', '')
df['description'] = df['description'].str.replace('a href="#show-more" class="show-more" title="Click to view the rest of the details"Read Morea                            div', '')

In [ ]:
# # simple code for above
# to_replace = ['<br>', '                                ', '<', '>', 'h3', 'h5', '/', 'div class=', '\n', 'description', 'Description', 'itemprop=', '""']
# df['description'] = df['description'].replace(to_replace, '', regex=True)

# or
# df['description'] = df['description'].apply(lambda x: x.replace('<br>','').replace('<','').replace('>','').replace('h3','').replace('h5','').replace('/','').replace('div class=','').replace('\n','').replace('description','').replace('Description','').replace('itemprop=','').replace('""',''))

In [ ]:
# df['description'].head(40).to_excel("/content/drive/MyDrive/PropertyGuru/original/description.xlsx")

### number of images

In [21]:
# Use value_counts to count the number of duplicates
counts2 = df['created_at'].value_counts()

counts2

2020-10-02 21:14:17.841750    135
2020-10-01 22:29:56.786075    107
2020-10-01 22:26:12.249741    107
2020-10-02 21:49:27.625813    101
2020-10-02 21:35:30.186147    100
                             ...
2020-10-02 05:28:56.762128      1
2020-10-02 02:35:34.069146      1
2020-10-02 11:31:43.334684      1
2020-09-30 23:47:23.359320      1
2020-10-03 00:59:20.919563      1
Name: created_at, Length: 68922, dtype: int64

In [23]:
len(df)/len(counts2)

15.731435535823104

In [24]:
# Create a new column with the number of duplicates
df['num_img'] = df['created_at'].map(counts2)

print(df[['created_at', 'num_img']])

                        created_at  num_img
0       2020-09-30 22:05:57.037205       13
1       2020-09-30 22:05:57.037205       13
2       2020-09-30 22:05:57.037205       13
3       2020-09-30 22:05:57.037205       13
4       2020-09-30 22:05:57.037205       13
...                            ...      ...
1084237 2020-10-03 02:33:13.362110       15
1084238 2020-10-03 02:33:13.362110       15
1084239 2020-10-03 02:33:13.362110       15
1084240 2020-10-03 02:33:13.362110       15
1084241 2020-10-03 02:33:13.362110       15

[1084242 rows x 2 columns]

In [25]:
# 결측치 비율이 높은 컬럼 리스트를 추출
# 컬럼 확인 가능한 데이터프레임 만들기. 
count_null = pd.DataFrame()

# 변수 이름이 들어간 컬럼 생성
count_null['variables'] = df.columns.values.tolist()

# 컬럼별로 결측값 갯수 세어서 NaN이라는 컬럼에 넣기
count_null['NaN'] = df.isnull().sum().tolist()

# 결측치 비율 계산하기 % calculation by columns
count_null['Nanperc'] = 100*(count_null['NaN']/len(df))
count_null

# 50% 이상이 결측치인 변수들의 리스트 구하기
too_many_NaN = count_null[count_null['Nanperc']>50]
will_erase = list(too_many_NaN['variables'])

In [ ]:
# will_erase

In [26]:
# slimming dataframe into df2 by erasing columns with more 50% missings
df2 = df.drop(columns = will_erase)
df2.info() # 51개 컬럼만 남았음. 행은 1345989개 존재.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084242 entries, 0 to 1084241
Data columns (total 53 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   C0                                      1084242 non-null  int32
 1   URL                                     1084242 non-null  object
 2   agent.name                              1084242 non-null  object
 3   agent.license                           1084242 non-null  object
 4   agent.url                               1084242 non-null  object
 5   agent.agency                            1084242 non-null  object
 6   agent.phone_number                      1084242 non-null  object
 7   listing_properties                      1084242 non-null  object
 8   Type                                    1084242 non-null  object
 9   Tenure                                  1084242 non-null  object
 10  Floorsize                               1084242 non-null  object
 11  Developer                               1084242 non-null  object
 12  listing_properties.Land size            1084242 non-null  object
 13  PSF                                     1084242 non-null  object
 14  Furnishing                              1084242 non-null  object
 15  TOP                                     996423 non-null   float64
 16  Floor                                   1084242 non-null  object
 17  ListingID                               1084188 non-null  float64
 18  Tenanted                                1084242 non-null  object
 19  Listed_on                               1084242 non-null  object
 20  listing_properties.Maintenance Fee      1084242 non-null  object
 21  listing_properties.Availability         1083389 non-null  object
 22  development_properties.Completion Year  952632 non-null   float64
 23  properties.Tenure                       1084242 non-null  object
 24  properties.url                          1084242 non-null  object
 25  properties.name                         1084242 non-null  object
 26  Total Unit(s)                           838009 non-null   float64
 27  amenities                               1084242 non-null  object
 28  Air-Conditioning                        845303 non-null   object
 29  Cooker Hood                             679311 non-null   object
 30  Water Heater                            680184 non-null   object
 31  amenities.Gymnasium room                567186 non-null   object
 32  amenities.Balcony                       628703 non-null   object
 33  description                             1084242 non-null  object
 34  address.country                         1084242 non-null  object
 35  address.street                          1084242 non-null  object
 36  address.postal_code                     1042857 non-null  float64
 37  address.locality                        1084242 non-null  object
 38  latitude                                1080823 non-null  float64
 39  longitude                               1080823 non-null  float64
 40  rooms                                   1084242 non-null  object
 41  bathrooms                               1084242 non-null  object
 42  floor_size                              1084201 non-null  float64
 43  floor_size_unit                         1084242 non-null  object
 44  price                                   1082634 non-null  float64
 45  currency                                1084242 non-null  object
 46  image_urls                              1084242 non-null  object
 47  created_at                              1084242 non-null  datetime64[ns]
 48  images                                  1084242 non-null  object
 49  images.url                              1084242 non-null  object
 50  images.path                             1084242 non-null  object
 51  images.checksum                         1084242 non-null  object
 52  num_img                                 1084242 non-null  int64
dtypes: datetime64[ns](1), float64(9), int32(1), int64(1), object(41)
memory usage: 434.3+ MB

In [28]:
df2['agent.license'].value_counts(dropna=False)

                             70940
CEA: R008420H / L3008899K    12212
CEA: R027596H / L3002382K     2975
CEA: R016421Z / L3002382K     2837
CEA: R028982I / L3009387E     2681
                             ...
CEA: R018577B / L3008022J        1
CEA: R014586Z / L3002382K        1
CEA: R019870Z / L3009250K        1
CEA: R019606E / L3009484F        1
CEA: R023899Z / L3002382K        1
Name: agent.license, Length: 10067, dtype: int64

In [27]:
df2['agent.phone_number'].value_counts(dropna=False)

                 57215
+65 8838 1388    12212
+65 9048 0660     4090
+65 9898 9991     2837
+65 9685 5190     2681
                 ...
+65 9144 4068        1
+65 9100 9239        1
+65 9062 8928        1
+65 9119 0222        1
+65 9830 6478        1
Name: agent.phone_number, Length: 10168, dtype: int64

In [29]:
df2['properties.name'].value_counts()

b''    1084242
Name: properties.name, dtype: int64

In [ ]:
df2.info()

In [32]:
df2.columns

Index(['C0', 'URL', 'agent.name', 'agent.license', 'agent.url', 'agent.agency',
       'agent.phone_number', 'listing_properties', 'Type', 'Tenure',
       'Floorsize', 'Developer', 'listing_properties.Land size', 'PSF',
       'Furnishing', 'TOP', 'Floor', 'ListingID', 'Tenanted', 'Listed_on',
       'listing_properties.Maintenance Fee', 'listing_properties.Availability',
       'development_properties.Completion Year', 'properties.Tenure',
       'properties.url', 'properties.name', 'Total Unit(s)', 'amenities',
       'Air-Conditioning', 'Cooker Hood', 'Water Heater',
       'amenities.Gymnasium room', 'amenities.Balcony', 'description',
       'address.country', 'address.street', 'address.postal_code',
       'address.locality', 'latitude', 'longitude', 'rooms', 'bathrooms',
       'floor_size', 'floor_size_unit', 'price', 'currency', 'image_urls',
       'created_at', 'images', 'images.url', 'images.path', 'images.checksum',
       'num_img'],
      dtype='object')

In [31]:
# 좀 더 불필요한 컬럼 더 잘라내 다듬기 - sale data 에서 쓴 것
# don't need these columns, so will drop these
 # agent name은 오류 일으킬 수 있어 삭제(license와 중복정보) 'agent.license', 'agent.url', 'agent.agency', 'agent.phone_number'
 # 'address.street', 'address.postal_code' # 싱가포르는 공통이므로 삭제
will_erase_noneed = ['agent.name','agent.license','address.country', 'listing_properties', 'listing_properties.Land size', 'listing_properties.Maintenance Fee','properties.url','properties.name', 'amenities',
       'Air-Conditioning', 'Cooker Hood', 'Water Heater', 'images', 'floor_size_unit', 'currency'] #모두 sqft, SGD인 것으로 볼 수 있어 불필요

In [ ]:
#@title
# 좀 더 불필요한 컬럼 더 잘라내 다듬기 - rent data에서 쓴 것
# don't need these columns, so will drop these
 # agent name은 오류 일으킬 수 있어 삭제(license와 중복정보) 'agent.license', 'agent.url', 'agent.agency', 'agent.phone_number'
 # 'address.street', 'address.postal_code' # 싱가포르는 공통이므로 삭제
will_erase_noneed = ['agent.name','agent.license','address.country', 'listing_properties', 'listing_properties.Land size', 'listing_properties.Maintenance Fee','properties.url','properties.name', 'amenities',
       'Air-Conditioning', 'Cooker Hood', 'amenities.Fridge',
       'amenities.Washing Machine', 'Water Heater','images', 'floor_size_unit', 'currency'] #모두 sqft, SGD인 것으로 볼 수 있어 불필요

In [ ]:
#@title
# 좀 더 불필요한 컬럼 더 잘라내 다듬기 2020-12-04 - rent data에서 쓴 것 ver2
# don't need these columns, so will drop these
 # agent name은 오류 일으킬 수 있어 삭제(license와 중복정보) 'agent.license', 'agent.url', 'agent.agency', 'agent.phone_number'
 # 'address.street', 'address.postal_code' # 싱가포르는 공통이므로 삭제
will_erase_noneed = ['agent.name','agent.license','address.country', 'listing_properties', 'listing_properties.Land size', 'listing_properties.Maintenance Fee','properties.url','properties.name', 'amenities',
       'Air-Conditioning', 'Cooker Hood', 'amenities.Fridge',
       'amenities.Washing Machine', 'Water Heater', 'amenities.Gymnasium room',
       'amenities.Swimming pool', \
                     'images', 'floor_size_unit', 'currency'] #모두 sqft, SGD인 것으로 볼 수 있어 불필요

In [ ]:
#@title
# 좀 더 불필요한 컬럼 더 잘라내 다듬기 - rent data에서 쓴 것 - ver3
# don't need these columns, so will drop these
 # agent name은 오류 일으킬 수 있어 삭제(license와 중복정보) 'agent.license', 'agent.url', 'agent.agency', 'agent.phone_number'
 # 'address.street', 'address.postal_code' # 싱가포르는 공통이므로 삭제
will_erase_noneed = ['agent.name','agent.license','address.country', 'listing_properties', 'listing_properties.Land size', 'listing_properties.Maintenance Fee','properties.url','properties.name', 'amenities',
       'Air-Conditioning', 'Cooker Hood', 'amenities.Fridge',
       'amenities.Washing Machine', 'Water Heater', 'amenities.Gymnasium room',
       'amenities.Barbeque Area','images', 'floor_size_unit', 'currency'] #모두 sqft, SGD인 것으로 볼 수 있어 불필요

In [33]:
# dropping the columns and creating slimmer dataset
df3 = df2.drop(columns = will_erase_noneed)

In [34]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084242 entries, 0 to 1084241
Data columns (total 38 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   C0                                      1084242 non-null  int32
 1   URL                                     1084242 non-null  object
 2   agent.url                               1084242 non-null  object
 3   agent.agency                            1084242 non-null  object
 4   agent.phone_number                      1084242 non-null  object
 5   Type                                    1084242 non-null  object
 6   Tenure                                  1084242 non-null  object
 7   Floorsize                               1084242 non-null  object
 8   Developer                               1084242 non-null  object
 9   PSF                                     1084242 non-null  object
 10  Furnishing                              1084242 non-null  object
 11  TOP                                     996423 non-null   float64
 12  Floor                                   1084242 non-null  object
 13  ListingID                               1084188 non-null  float64
 14  Tenanted                                1084242 non-null  object
 15  Listed_on                               1084242 non-null  object
 16  listing_properties.Availability         1083389 non-null  object
 17  development_properties.Completion Year  952632 non-null   float64
 18  properties.Tenure                       1084242 non-null  object
 19  Total Unit(s)                           838009 non-null   float64
 20  amenities.Gymnasium room                567186 non-null   object
 21  amenities.Balcony                       628703 non-null   object
 22  description                             1084242 non-null  object
 23  address.street                          1084242 non-null  object
 24  address.postal_code                     1042857 non-null  float64
 25  address.locality                        1084242 non-null  object
 26  latitude                                1080823 non-null  float64
 27  longitude                               1080823 non-null  float64
 28  rooms                                   1084242 non-null  object
 29  bathrooms                               1084242 non-null  object
 30  floor_size                              1084201 non-null  float64
 31  price                                   1082634 non-null  float64
 32  image_urls                              1084242 non-null  object
 33  created_at                              1084242 non-null  datetime64[ns]
 34  images.url                              1084242 non-null  object
 35  images.path                             1084242 non-null  object
 36  images.checksum                         1084242 non-null  object
 37  num_img                                 1084242 non-null  int64
dtypes: datetime64[ns](1), float64(9), int32(1), int64(1), object(26)
memory usage: 310.2+ MB

In [35]:
# Type변수에서 특수한 주택유형에 해당하는 데이터 제거 작업 수행
df3 = df3[~df3['Type'].str.contains("Bungalow|Land|Semi|Terrace|Detached", na=False, case=False)]
len(df3)

975236

In [36]:
# 분석에 필수적인 변수가 결측인 경우 삭제
important_vars = ['Listed_on', 'price', 'latitude', 'longitude']
# drop the rows when important_vars column has missing
df3 = df3.dropna(subset = important_vars)
# df3.info() #

In [37]:
len(df3)

973143

In [41]:
df3['Listed_on'].head()

0    10 hours ago
1    10 hours ago
2    10 hours ago
3    10 hours ago
4    10 hours ago
Name: Listed_on, dtype: object

In [42]:
# 숫자 부분만 추출
df3['Listed_on_num'] = df3['Listed_on'].str.split(' ').str.get(0)

# 시간단위 부분만 추출
df3['Listed_on_day'] = df3['Listed_on'].str.split(' ').str.get(1)

# time unit -  list of lists
posted = [['second', 'seconds','minute', 'minutes', 'hour', 'hours'], ['day','days'], ['week', 'weeks'], ['month', 'months'], ['year', 'years']]

In [43]:
for idx, time in enumerate(posted):
    df3['Listed_on_day'].replace(time, idx, inplace = True)
# 2=week -> 7 days, 3=month -> 30 days, 4=year -> 365
    df3['Listed_on_day'].replace(0, 0, inplace = True)
    df3['Listed_on_day'].replace(1, 1, inplace = True)
    df3['Listed_on_day'].replace(2, 7, inplace = True)
    df3['Listed_on_day'].replace(3,30, inplace = True)
    df3['Listed_on_day'].replace(4,365, inplace = True)

In [44]:
df3['days_past'] = df3['Listed_on_num'].astype('int64') * df3['Listed_on_day'].astype('int64')

In [45]:
# Listed_on column replacing to days

df3[['Listed_on','days_past']].tail(5)

            Listed_on  days_past
1084222  7 months ago        210
1084223  7 months ago        210
1084224  7 months ago        210
1084225  7 months ago        210
1084226  7 months ago        210

In [46]:
# created_at variable(2019-10-26 11:16:00.207427), converting year-month=day
df3.loc[:,'date_created_at'] = pd.to_datetime(df3.loc[:,'created_at'].astype(str).str[:10])
df3.loc[:,'date_created_at'].head(5)

0   2020-09-30
1   2020-09-30
2   2020-09-30
3   2020-09-30
4   2020-09-30
Name: date_created_at, dtype: datetime64[ns]

In [47]:
df3.loc[:,"listed_date"] = df3.loc[:,'date_created_at'] - pd.to_timedelta(df3.loc[:,'days_past'], unit = 'd')

In [48]:
df3[['date_created_at',"Listed_on", 'days_past', 'listed_date']]

        date_created_at     Listed_on  days_past listed_date
0            2020-09-30  10 hours ago          0  2020-09-30
1            2020-09-30  10 hours ago          0  2020-09-30
2            2020-09-30  10 hours ago          0  2020-09-30
3            2020-09-30  10 hours ago          0  2020-09-30
4            2020-09-30  10 hours ago          0  2020-09-30
...                 ...           ...        ...         ...
1084222      2020-10-03  7 months ago        210  2020-03-07
1084223      2020-10-03  7 months ago        210  2020-03-07
1084224      2020-10-03  7 months ago        210  2020-03-07
1084225      2020-10-03  7 months ago        210  2020-03-07
1084226      2020-10-03  7 months ago        210  2020-03-07

[973143 rows x 4 columns]

In [49]:
df3.listed_date.min()

Timestamp('2020-03-07 00:00:00')

In [50]:
df3.listed_date.max()

Timestamp('2020-10-03 00:00:00')

In [51]:
df3['listed_year'] = df3['listed_date'].dt.year

In [52]:
max_year = df3.listed_year.max()
max_year

2020

### 분양용 매물 제거

In [ ]:
# df3['TOP'].value_counts(dropna=False).to_excel("/content/drive/MyDrive/PropertyGuru/original/TOP.xlsx")
# 확인 결과, TOP에 N/A가 있었음

In [53]:
# Define a condition
# condition = (df3['TOP'] != "2020") & (df3['TOP'] != "2021") & (df3['TOP'] != "2022") #2019
condition = (df3['TOP'] != "2021") & (df3['TOP'] != "2022") #2020
# condition = (df3['TOP'] != "2022") #2021

In [54]:
# Apply the condition to the dataframe
df3 = df3[condition]

In [55]:
len(df3)

973143

### 게시글별로 중복 제거

In [ ]:
df3.columns

Index(['C0', 'URL', 'agent.url', 'agent.agency', 'agent.phone_number', 'Type',
       'Tenure', 'Floorsize', 'Developer', 'PSF', 'Furnishing', 'TOP', 'Floor',
       'ListingID', 'Tenanted', 'Listed_on', 'properties.Type',
       'properties.TOP', 'properties.Tenure', 'Total Unit(s)', 'description',
       'address.street', 'address.postal_code', 'address.locality', 'latitude',
       'longitude', 'rooms', 'bathrooms', 'floor_size', 'price', 'image_urls',
       'created_at', 'images.url', 'images.path', 'images.checksum', 'num_img',
       'Listed_on_num', 'Listed_on_day', 'days_past', 'date_created_at',
       'listed_date', 'listed_year'],
      dtype='object')

In [56]:
# 리스팅 'created_at' 기준으로 중복행 제거
df4 = df3.drop_duplicates(['created_at'], keep='first', ignore_index=False)
len(df4)

58170

### HDB, Condo, Apartment 변수 생성

In [57]:
df4['Type'].value_counts()

Condominium For Sale                  37147
Apartment For Sale                     7522
4A HDB For Sale                        3706
5I HDB For Sale                        2500
Executive Condominium For Sale         1486
5A HDB For Sale                         795
Cluster House For Sale                  616
4NG (New Generation) HDB For Sale       615
EA (Exec Apartment) HDB For Sale        538
3I (Improved) HDB For Sale              479
3A HDB For Sale                         422
EM (Exec Maisonette) HDB For Sale       420
3NG (New Generation) HDB For Sale       264
4I (Improved) HDB For Sale              249
4S (Simplified) HDB For Sale            210
5S HDB For Sale                         185
Walk-up For Sale                        124
3NG (Modified) HDB For Sale             116
Conservation House For Sale             105
4STD (Standard) HDB For Sale             83
3I (Modified) HDB For Sale               77
3STD (Standard) HDB For Sale             74
3S (Simplified) HDB For Sale             73
3A (Modified) HDB For Sale               57
Town House For Sale                      48
2A HDB For Sale                          45
Jumbo HDB For Sale                       44
HDB For Sale                             36
Shophouse For Sale                       34
2S (Standard) HDB For Sale               27
MG (Multi-Generation) HDB For Sale       27
2I (Improved) HDB For Sale               17
Condominium For Rent                     16
1-Room / Studio HDB For Sale              9
Apartment For Rent                        3
3I (Improved) HDB For Rent                1
Name: Type, dtype: int64

In [58]:
# Type 구분 컬럼 생성
df4['HDB'] = df4['Type'].str.contains('HDB')
df4['Condo'] = df4['Type'].str.contains('Condominium For Sale')
df4['Apartment'] = df4['Type'].str.contains('Apartment For Sale')
df4[['Type','HDB', 'Condo', 'Apartment']].head(10)

                     Type    HDB  Condo  Apartment
0         4A HDB For Sale   True  False      False
13   Condominium For Sale  False   True      False
28   Condominium For Sale  False   True      False
95   Condominium For Sale  False   True      False
110    Apartment For Sale  False  False       True
134  Condominium For Sale  False   True      False
155  Condominium For Sale  False   True      False
166  Condominium For Sale  False   True      False
194  Condominium For Sale  False   True      False
204       4A HDB For Sale   True  False      False

In [59]:
len(df4)

58170

In [60]:
df4.columns

Index(['C0', 'URL', 'agent.url', 'agent.agency', 'agent.phone_number', 'Type',
       'Tenure', 'Floorsize', 'Developer', 'PSF', 'Furnishing', 'TOP', 'Floor',
       'ListingID', 'Tenanted', 'Listed_on', 'listing_properties.Availability',
       'development_properties.Completion Year', 'properties.Tenure',
       'Total Unit(s)', 'amenities.Gymnasium room', 'amenities.Balcony',
       'description', 'address.street', 'address.postal_code',
       'address.locality', 'latitude', 'longitude', 'rooms', 'bathrooms',
       'floor_size', 'price', 'image_urls', 'created_at', 'images.url',
       'images.path', 'images.checksum', 'num_img', 'Listed_on_num',
       'Listed_on_day', 'days_past', 'date_created_at', 'listed_date',
       'listed_year', 'HDB', 'Condo', 'Apartment'],
      dtype='object')

### virtual_tour변수 생성

In [61]:
#@title 특정키워드 포함여부(Contains)
#'Virtual' 뷰잉 가능여부 더미 생성

# Create a new column 'contains_virtual' indicating whether the 'text' column contains the word 'virtual'
df4['description_lower'] = df4['description'].str.casefold()
search_str = df4['description_lower'].str.extract('(virtual|video|youtube|live tour|online tour|online viewing|360 tour)', expand=False)
df4['contains_virtual'] = search_str.notna()

In [62]:
virtual_rows = df4[['description', 'contains_virtual']].loc[df4['contains_virtual'] == True]
print(virtual_rows)

                                                                                                                                                                                                     description  \
13         Virtual Tour Or Video Avail.Call To Zoom Now! *** Circuit Breaker Sale*** -------------------------------------------------- -- To View - Call Elliott Lim (+65) 94310199  -----------------------...
225         Freehold, gorgeous full featured smart home To View - Call Elliott Lim (+65) 94310199  -------------------------------------------------- ☎  Looking for a full modern renovated unit to move in ...
275         A high return and low risk investment **Virtual Live Viewing is available!**  Undoubtedly the best buy along Bukit Timah! Buying at D21 price but enjoy the prime D10 location.  Some salient rea...
284         Essentially a 2bedroom at a superb price **Virtual Live Viewing is available!**  Buy a 2bedroom at a 1+study pricing. Call me to understand why choosing the right unit is so important. Undoubte...
323        TOP in 1 year time **Virtual Live Viewing is available!**  Brand New Undervalued Property. The Garden Residences  Why this 4bedroom + Study? - Take key and move in soon - Attractive price - Unbl...
...                                                                                                                                                                                                          ...
1081919     Unique 2-Bedroom Penthouse Kindly contact 9630 3817  6708 9360 for zoom meeting video viewing during circuit breaker period or appointment after circuit breaker.  在视讯咨询3D VR全景看房，请联络 9630 3817  ...
1081931     Spacious 3-Bedroom Unit Kindly contact 9630 3817  6708 9360 for zoom meeting video viewing during circuit breaker period or appointment after circuit breaker.  在线视讯咨询3D VR全景看房，请联络 9630 3817  67...
1081945     Luxurious 3-Bedroom Unit with Space Efficient Layout Kindly contact 9630 3817  6708 9360 for zoom meeting video viewing during circuit breaker period or appointment after circuit breaker.  在线视讯...
1081965     Premium 3-bedroom with private lift Kindly contact 9630 3817  6708 9360 for zoom meeting video viewing during circuit breaker period or appointment after circuit breaker.  在线视讯咨询3D VR全景看房，请联络 9...
1082113     Freehold, low quantum, near greater southern waterfront transformation 1 bedder for sale  sell vacant!  well maintained  quiet facing  good layout  apps me for a virtual 360 tour!  contact Luca...

         contains_virtual
13                   True
225                  True
275                  True
284                  True
323                  True
...                   ...
1081919              True
1081931              True
1081945              True
1081965              True
1082113              True

[4214 rows x 2 columns]

In [63]:
len(df4)

58170

In [ ]:
df4['Type'].value_counts()

Condominium For Sale                  36623
Apartment For Sale                     8479
4A HDB For Sale                        7908
5I HDB For Sale                        6964
4NG (New Generation) HDB For Sale      2257
EA (Exec Apartment) HDB For Sale       2018
5A HDB For Sale                        1900
3I (Improved) HDB For Sale             1874
3NG (New Generation) HDB For Sale      1535
3A HDB For Sale                        1530
EM (Exec Maisonette) HDB For Sale      1520
HDB Apartment For Sale                 1479
Executive Condominium For Sale         1018
4S (Simplified) HDB For Sale            959
3NG (Modified) HDB For Sale             878
Cluster House For Sale                  780
4I (Improved) HDB For Sale              647
5S HDB For Sale                         477
3S (Simplified) HDB For Sale            414
Jumbo HDB For Sale                      339
3STD (Standard) HDB For Sale            318
3A (Modified) HDB For Sale              281
2A HDB For Sale                         248
3I (Modified) HDB For Sale              202
4STD (Standard) HDB For Sale            181
2I (Improved) HDB For Sale              134
Conservation House For Sale             133
Walk-up For Sale                        131
2S (Standard) HDB For Sale               72
Town House For Sale                      60
Shophouse For Sale                       51
MG (Multi-Generation) HDB For Sale       50
1-Room/Studio HDB For Sale               18
Name: Type, dtype: int64

In [ ]:
df4.columns

Index(['C0', 'URL', 'agent.url', 'agent.agency', 'agent.phone_number', 'Type',
       'Tenure', 'Floorsize', 'Developer', 'PSF', 'Furnishing', 'TOP', 'Floor',
       'ListingID', 'Tenanted', 'Listed_on', 'properties.Type',
       'properties.TOP', 'properties.Tenure', 'Total Unit(s)', 'description',
       'address.street', 'address.postal_code', 'address.locality', 'latitude',
       'longitude', 'rooms', 'bathrooms', 'floor_size', 'price', 'image_urls',
       'created_at', 'images.url', 'images.path', 'images.checksum', 'num_img',
       'Listed_on_num', 'Listed_on_day', 'days_past', 'date_created_at',
       'listed_date', 'listed_year', 'HDB', 'Condo', 'Apartment',
       'description_lower', 'contains_virtual'],
      dtype='object')

In [64]:
df4 = df4[['URL', 'agent.url', 'agent.agency', 'agent.phone_number', 'Type',
       'Tenure', 'Floorsize', 'Developer', 'PSF', 'Furnishing', 'TOP', 'Floor',
       'ListingID', 'Listed_on', 'properties.Tenure',
       'Total Unit(s)','description', 'address.street',
       'address.postal_code', 'address.locality', 'latitude', 'longitude',
       'rooms', 'bathrooms', 'floor_size', 'price', 'image_urls', 'created_at',
       'num_img', 'Listed_on_num', 'Listed_on_day', 'days_past',
       'date_created_at', 'listed_date', 'listed_year', 'HDB', 'Condo',
       'Apartment']]

In [65]:
df4[df4['Condo'] == True].to_excel("/content/drive/MyDrive/PropertyGuru/Sale_preprocessed/Condo_Sale_Listings_20200929.xlsx")
df4[df4['HDB'] == True].to_excel("/content/drive/MyDrive/PropertyGuru/Sale_preprocessed/HDB_Sale_Listings_20200929.xlsx")
df4[df4['Apartment'] == True].to_excel("/content/drive/MyDrive/PropertyGuru/Sale_preprocessed/Apt_Sale_Listings_20200929.xlsx")

In [ ]:
# filenames to preprocess
# /content/drive/MyDrive/PropertyGuru/original/property_rent_data_20191028.csv
# /content/drive/MyDrive/PropertyGuru/original/property_rent_data_20200929.csv
# /content/drive/MyDrive/PropertyGuru/original/property_rent_data_20201102.csv
# /content/drive/MyDrive/PropertyGuru/original/property_rent_data_20201204.csv
# /content/drive/MyDrive/PropertyGuru/original/property_rent_data_20210114.csv
# /content/drive/MyDrive/PropertyGuru/original/property_rent_data_20210221.csv
# /content/drive/MyDrive/PropertyGuru/original/property_rent_data_20210326.csv
# /content/drive/MyDrive/PropertyGuru/original/property_rent_data_20210329.csv
# /content/drive/MyDrive/PropertyGuru/original/property_rent_data_20210527.csv
# /content/drive/MyDrive/PropertyGuru/original/property_rent_data_20210719.csv
# /content/drive/MyDrive/PropertyGuru/original/property_rent_data_20210907.csv

## dataframe combining

In [ ]:
# Move to directory we want to use: cd + path
# 현재 경로 설정
%cd /content/drive/MyDrive/PropertyGuru/Rent_preprocessed_2/condo

/content/drive/MyDrive/PropertyGuru/Rent_preprocessed_2/condo

In [ ]:
#@title efficient data loading code
import os
import datatable as dt
import pandas as pd

filenames = os.listdir()
dataframes = []

for filename in filenames:
    df = dt.fread(filename)
    df = df.to_pandas()
    dataframes.append(df)

# 여러 데이터프레임 하나로 합치기 (위아래로 합치기)
df_all = pd.concat(dataframes, axis=0)

In [ ]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69732 entries, 0 to 12876
Data columns (total 52 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   C0                                      69732 non-null  int32
 1   URL                                     69732 non-null  object
 2   agent.url                               69732 non-null  object
 3   agent.agency                            59471 non-null  object
 4   agent.phone_number                      60814 non-null  object
 5   Type                                    69732 non-null  object
 6   Tenure                                  69732 non-null  object
 7   Floorsize                               69732 non-null  object
 8   Developer                               69732 non-null  object
 9   PSF                                     69732 non-null  object
 10  Furnishing                              69732 non-null  object
 11  TOP                                     69732 non-null  object
 12  Floor                                   69732 non-null  object
 13  ListingID                               69732 non-null  int32
 14  listing_properties.Availability         59455 non-null  object
 15  Listed_on                               69732 non-null  object
 16  development_properties.Completion Year  50748 non-null  object
 17  properties.Tenure                       66368 non-null  object
 18  Total Unit(s)                           65314 non-null  float64
 19  description                             69732 non-null  object
 20  address.street                          67289 non-null  object
 21  address.postal_code                     67830 non-null  float64
 22  address.locality                        69732 non-null  object
 23  latitude                                69732 non-null  float64
 24  longitude                               69732 non-null  float64
 25  rooms                                   69732 non-null  object
 26  bathrooms                               69732 non-null  object
 27  floor_size                              69732 non-null  int32
 28  price                                   69732 non-null  int32
 29  image_urls                              69573 non-null  object
 30  created_at                              69732 non-null  object
 31  num_img                                 59594 non-null  float64
 32  Listed_on_num                           69732 non-null  object
 33  Listed_on_day                           69732 non-null  int32
 34  days_past                               69732 non-null  int32
 35  date_created_at                         69732 non-null  object
 36  listed_date                             69732 non-null  object
 37  listed_year                             69732 non-null  int32
 38  HDB                                     69732 non-null  bool
 39  Condo                                   69732 non-null  bool
 40  Apartment                               69732 non-null  bool
 41  images.url                              37818 non-null  object
 42  images.path                             37818 non-null  object
 43  images.checksum                         37818 non-null  object
 44  description_lower                       62014 non-null  object
 45  contains_virtual                        62014 non-null  object
 46  listing_properties.Electricity          1 non-null      object
 47  amenities.24 hours security             14228 non-null  object
 48  Tenanted                                1 non-null      object
 49  listing_properties.Parking Spaces       1 non-null      object
 50  properties.Type                         14740 non-null  object
 51  properties.TOP                          14594 non-null  float64
dtypes: bool(3), float64(6), int32(7), object(36)
memory usage: 24.9+ MB

In [ ]:
df_all.columns

Index(['C0', 'URL', 'agent.url', 'agent.agency', 'agent.phone_number', 'Type',
       'Tenure', 'Floorsize', 'Developer', 'PSF', 'Furnishing', 'TOP', 'Floor',
       'ListingID', 'listing_properties.Availability', 'Listed_on',
       'development_properties.Completion Year', 'properties.Tenure',
       'Total Unit(s)', 'description', 'address.street', 'address.postal_code',
       'address.locality', 'latitude', 'longitude', 'rooms', 'bathrooms',
       'floor_size', 'price', 'image_urls', 'created_at', 'num_img',
       'Listed_on_num', 'Listed_on_day', 'days_past', 'date_created_at',
       'listed_date', 'listed_year', 'HDB', 'Condo', 'Apartment', 'images.url',
       'images.path', 'images.checksum', 'description_lower',
       'contains_virtual', 'listing_properties.Electricity',
       'amenities.24 hours security', 'Tenanted',
       'listing_properties.Parking Spaces', 'properties.Type',
       'properties.TOP'],
      dtype='object')

In [ ]:
df_all.drop(columns = ['listing_properties.Electricity',
       'amenities.24 hours security', 'Tenanted',
       'listing_properties.Parking Spaces', 'properties.Type',
       'properties.TOP' ], inplace = True)

In [ ]:
df_all.columns

Index(['C0', 'URL', 'agent.url', 'agent.agency', 'agent.phone_number', 'Type',
       'Tenure', 'Floorsize', 'Developer', 'PSF', 'Furnishing', 'TOP', 'Floor',
       'ListingID', 'listing_properties.Availability', 'Listed_on',
       'development_properties.Completion Year', 'properties.Tenure',
       'Total Unit(s)', 'description', 'address.street', 'address.postal_code',
       'address.locality', 'latitude', 'longitude', 'rooms', 'bathrooms',
       'floor_size', 'price', 'image_urls', 'created_at', 'num_img',
       'Listed_on_num', 'Listed_on_day', 'days_past', 'date_created_at',
       'listed_date', 'listed_year', 'HDB', 'Condo', 'Apartment', 'images.url',
       'images.path', 'images.checksum', 'description_lower',
       'contains_virtual'],
      dtype='object')

In [ ]:
df_all.Type.value_counts()

Condominium For Rent              68801
Executive Condominium For Rent      930
Condominium For Sale                  1
Name: Type, dtype: int64

In [ ]:
# Condominium For Sale 행 제외
# Create a Boolean mask indicating which rows have 'Type' == 'Sale'
mask = df_all['Type'] == 'Condominium For Sale'

# Use the mask to select only the rows that do not have 'Type' == 'Sale'
df_all = df_all[~mask]
df_all['Type'].value_counts()

Condominium For Rent              68801
Executive Condominium For Rent      930
Name: Type, dtype: int64

In [ ]:
df_all.to_excel("/content/drive/MyDrive/PropertyGuru/Rent_preprocessed_2/condo_executivecondo_included.xlsx")

In [ ]:
# Executive Condominium 제외
# Create a Boolean mask indicating which rows have 'Type' == 'Sale'
mask = df_all['Type'] == 'Executive Condominium For Rent'

# Use the mask to select only the rows that do not have 'Type' == 'Sale'
df_all = df_all[~mask]
df_all['Type'].value_counts()

Condominium For Rent    68801
Name: Type, dtype: int64

In [ ]:
df_all.to_excel("/content/drive/MyDrive/PropertyGuru/Rent_preprocessed_2/condominium_for_rent_only.xlsx")

# 예전코드

In [ ]:
#@title easy code

filenames = os.listdir()

df_1 = dt.fread(filenames[0])
df_2 = dt.fread(filenames[1])
df_3 = dt.fread(filenames[2])
df_4 = dt.fread(filenames[3])
df_5 = dt.fread(filenames[4])
df_6 = dt.fread(filenames[5])
df_7 = dt.fread(filenames[6])
df_8 = dt.fread(filenames[7])
df_9 = dt.fread(filenames[8])

df_1 = df_1.to_pandas()
df_2 = df_2.to_pandas()
df_3 = df_3.to_pandas()
df_4 = df_4.to_pandas()
df_5 = df_5.to_pandas()
df_6 = df_6.to_pandas()
df_7 = df_7.to_pandas()
df_8 = df_8.to_pandas()
df_9 = df_9.to_pandas()

df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9], axis = 0)

In [ ]:
df_all.info()

In [ ]:
#@title 쓰지 않을 컬럼 drop
df_all.drop(columns = 'C0', inplace = True)
df_all.columns

Index(['Type', 'Tenure', 'Floorsize', 'Developer', 'PSF', 'Furnishing', 'TOP',
       'Floor', 'ListingID', 'listing_properties.Availability', 'Listed_on',
       'properties.Type', 'properties.TOP', 'properties.Tenure',
       'properties.url', 'properties.name', 'Total Unit(s)',
       'free_text_description', 'address.street', 'address.postal_code',
       'address.locality', 'latitude', 'longitude', 'rooms', 'bathrooms',
       'floor_size', 'price', 'created_at', 'description', 'Listed_on_num',
       'Listed_on_day', 'days_past', 'date_created_at', 'listed_date',
       'pandemic', 'listed_year', 'agent.name',
       'development_properties.Completion Year', 'amenities.Barbeque Area',
       'amenities.Gymnasium room', 'amenities.Swimming pool', 'listing_url',
       'amenities.24 hours security', 'image_urls', 'contains_virtual', 'HDB',
       'Condo', 'Apartment'],
      dtype='object')

### Keyword of Interest

In [ ]:
len(df_all)

258699

In [ ]:
#@title virtual 뷰잉 가능 Rent 리스팅 비율
percent_virtual = df_all['contains_virtual'].mean() * 100
print(percent_virtual)

0.7313518799840741

In [ ]:
df_all['Type'].unique()

array(['3I (Improved) HDB For Rent', 'Condominium For Rent',
       'HDB Apartment For Rent', '3A HDB For Rent',
       '4NG (New Generation) HDB For Rent', 'Apartment For Rent',
       '4A HDB For Rent', '5I HDB For Rent', '5A HDB For Rent',
       'EM (Exec Maisonette) HDB For Rent',
       '4S (Simplified) HDB For Rent', 'Executive Condominium For Rent',
       '4STD (Standard) HDB For Rent', '1-Room/Studio HDB For Rent',
       '3NG (New Generation) HDB For Rent',
       'EA (Exec Apartment) HDB For Rent', '3S (Simplified) HDB For Rent',
       '4I (Improved) HDB For Rent', '3I (Modified) HDB For Rent',
       '3NG (Modified) HDB For Rent', 'Jumbo HDB For Rent',
       '3A (Modified) HDB For Rent', '3STD (Standard) HDB For Rent',
       '2I (Improved) HDB For Rent', '5S HDB For Rent', '2A HDB For Rent',
       '2S (Standard) HDB For Rent', 'HDB For Rent',
       '1-Room / Studio HDB For Rent',
       'MG (Multi-Generation) HDB For Rent', 'HDB Flat For Rent',
       'Condominium For Sale'], dtype=object)

In [ ]:
len(df_all)

258699

In [ ]:
df_all['Type'].value_counts()

Condominium For Rent                  133760
Apartment For Rent                     56206
4A HDB For Rent                        21902
5I HDB For Rent                        11474
4NG (New Generation) HDB For Rent       4280
Jumbo HDB For Rent                      4106
3I (Improved) HDB For Rent              3596
5A HDB For Rent                         3346
3A HDB For Rent                         3060
3NG (New Generation) HDB For Rent       2718
HDB Apartment For Rent                  2026
Executive Condominium For Rent          1618
4I (Improved) HDB For Rent              1562
3NG (Modified) HDB For Rent             1384
EA (Exec Apartment) HDB For Rent        1240
4S (Simplified) HDB For Rent            1180
EM (Exec Maisonette) HDB For Rent        986
4STD (Standard) HDB For Rent             700
HDB For Rent                             576
3A (Modified) HDB For Rent               538
3S (Simplified) HDB For Rent             494
3STD (Standard) HDB For Rent             436
3I (Modified) HDB For Rent               412
5S HDB For Rent                          342
1-Room / Studio HDB For Rent             288
2I (Improved) HDB For Rent               124
HDB Flat For Rent                         98
1-Room/Studio HDB For Rent                92
2S (Standard) HDB For Rent                72
2A HDB For Rent                           60
MG (Multi-Generation) HDB For Rent        22
Condominium For Sale                       1
Name: Type, dtype: int64

Condominium For Rent                  133760
Apartment For Rent                     56206
4A HDB For Rent                        21902
5I HDB For Rent                        11474
4NG (New Generation) HDB For Rent       4280
Jumbo HDB For Rent                      4106
3I (Improved) HDB For Rent              3596
5A HDB For Rent                         3346
3A HDB For Rent                         3060
3NG (New Generation) HDB For Rent       2718
HDB Apartment For Rent                  2026
Executive Condominium For Rent          1618
4I (Improved) HDB For Rent              1562
3NG (Modified) HDB For Rent             1384
EA (Exec Apartment) HDB For Rent        1240
4S (Simplified) HDB For Rent            1180
EM (Exec Maisonette) HDB For Rent        986
4STD (Standard) HDB For Rent             700
HDB For Rent                             576
3A (Modified) HDB For Rent               538
3S (Simplified) HDB For Rent             494
3STD (Standard) HDB For Rent             436
3I (Modified) HDB For Rent               412
5S HDB For Rent                          342
1-Room / Studio HDB For Rent             288
2I (Improved) HDB For Rent               124
HDB Flat For Rent                         98
1-Room/Studio HDB For Rent                92
2S (Standard) HDB For Rent                72
2A HDB For Rent                           60
MG (Multi-Generation) HDB For Rent        22
Name: Type, dtype: int64

In [ ]:
# Type 구분 컬럼 생성
df_all['HDB'] = df_all['Type'].str.contains('HDB')
df_all['Condo'] = df_all['Type'].str.contains('Condo')
df_all['Apartment'] = df_all['Type'].str.contains('Apartment For Rent')
df_all[['Type','HDB', 'Condo', 'Apartment']].head(10)

                         Type    HDB  Condo  Apartment
0  3I (Improved) HDB For Rent   True  False      False
1        Condominium For Rent  False   True      False
2      HDB Apartment For Rent   True  False       True
3      HDB Apartment For Rent   True  False       True
4             3A HDB For Rent   True  False      False
5        Condominium For Rent  False   True      False
6      HDB Apartment For Rent   True  False       True
7      HDB Apartment For Rent   True  False       True
8        Condominium For Rent  False   True      False
9      HDB Apartment For Rent   True  False       True

In [ ]:
#@title HDB 렌트매물 중 Virtual 뷰잉 가능 리스팅 비율(%)
mask_HDB = df_all['HDB'] == True
percent_virtual_HDB = df_all[mask_HDB]['contains_virtual'].mean() * 100
print(percent_virtual_HDB)

0.1758202461483446

In [ ]:
#@title Condominium 렌트 매물 중 Virtual 뷰잉 가능 리스팅 비율(%)
mask_Condo = df_all['Condo'] == True
percent_virtual_condo = df_all[mask_Condo]['contains_virtual'].mean() * 100
print(percent_virtual_condo)

0.9514101257220523

In [ ]:
#@title Apartment 렌트 매물 중 Virtual 뷰잉 가능 리스팅 비율(%)
mask_Apartment = df_all['Apartment'] == True
percent_virtual_Apartment = df_all[mask_Apartment]['contains_virtual'].mean() * 100
print(percent_virtual_Apartment)

0.8380272015386729

HDB보다는 Condominium과 Apartment에서 월등히 Virtual 뷰잉을 허용하는 비율이 높음을 알 수 있다.

In [ ]:
#@title Condominium 또는 Apartment 렌트 매물 중에서 Virtual 뷰잉 가능 리스팅 비율(%)
mask_condo_or_Apt = (df_all['Condo'] == True) | (df_all['Apartment'] == True)
percent_virtual_condo_or_Apt = df_all[mask_condo_or_Apt]['contains_virtual'].mean()*100
print(percent_virtual_condo_or_Apt)

0.9173079902897576

### Virtual Viewing이 코로나 이후 많아졌는가?

In [ ]:
df_all.head(5)

,Type,Tenure,Floorsize,Developer,PSF,Furnishing,TOP,Floor,ListingID,listing_properties.Availability,...,amenities.Barbeque Area,amenities.Gymnasium room,amenities.Swimming pool,listing_url,amenities.24 hours security,image_urls,contains_virtual,HDB,Condo,Apartment
0,3I (Improved) HDB For Rent,99-year Leasehold,107 sqft,Housing & Development Board (HDB),S$ 7.29 psf,Fully Furnished,1970.0,Middle Floor,22083659.0,"22 Nov, 2019",...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,False
1,Condominium For Rent,Freehold,1711 sqft,City Development Limited,S$ 2.10 psf,Partially Furnished,1997.0,Penthouse,21626289.0,"29 Dec, 2019",...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False
2,HDB Apartment For Rent,99-year Leasehold,200 sqft,Housing & Development Board (HDB),S$ 3.50 psf,,2003.0,,22083657.0,Ready to move,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True
3,HDB Apartment For Rent,99-year Leasehold,150 sqft,Housing & Development Board (HDB),S$ 5.33 psf,,1979.0,,22083655.0,Ready to move,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True
4,3A HDB For Rent,99-year Leasehold,300 sqft,Housing & Development Board (HDB),S$ 1.17 psf,Fully Furnished,2017.0,,22048081.0,Ready to move,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,False

In [ ]:
df_all.columns

Index(['Type', 'Tenure', 'Floorsize', 'Developer', 'PSF', 'Furnishing', 'TOP',
       'Floor', 'ListingID', 'listing_properties.Availability', 'Listed_on',
       'properties.Type', 'properties.TOP', 'properties.Tenure',
       'properties.url', 'properties.name', 'Total Unit(s)',
       'free_text_description', 'address.street', 'address.postal_code',
       'address.locality', 'latitude', 'longitude', 'rooms', 'bathrooms',
       'floor_size', 'price', 'created_at', 'description', 'Listed_on_num',
       'Listed_on_day', 'days_past', 'date_created_at', 'listed_date',
       'pandemic', 'listed_year', 'agent.name',
       'development_properties.Completion Year', 'amenities.Barbeque Area',
       'amenities.Gymnasium room', 'amenities.Swimming pool', 'listing_url',
       'amenities.24 hours security', 'image_urls', 'contains_virtual', 'HDB',
       'Condo', 'Apartment'],
      dtype='object')

In [ ]:
df_all['listed_year'].value_counts()

2020    106890
2019     79618
2021     72190
Name: listed_year, dtype: int64

In [ ]:
df_all[['listed_year', 'description', 'properties.Type']].head()

,listed_year,description,properties.Type
0,2019,Renovated & Clean Room. No owner. * Renovated and clean unit * Private as a corner unit * Air-con and furnished * Free WIFI * No landlord * No cooking * No restriction to the use of common items...,HDB Apartment
1,2019,View to believe. You'd be willing to pay more than the asking price! ** New Listing ** Just renovated kitchen 1 year ago! Huge master bedroom! Unblocked view! City & greenery view (view of the...,Condominium
2,2019,Near to many shops Master Room @ Punggol Dr BLK 637B!Cooking allowed! 5-room unit Staying with indian couple only! Friendly landlord Well-maintained room aircon($50/mth) Wifi available Cooking all...,HDB Apartment
3,2019,Near to many shops 2 x Common Room @ West Coast Road BLK 703! Single female owner 4-room unit Staying with local chinese landlady Friendly landlord Well-maintained room aircon Wifi available no co...,HDB Apartment
4,2019,Brand New Common Room Rent Brand New Common Room Near Punggol MRT / Sengakang Hospital ~ Fully Furnished + Aircon + Fan ~ Spacioushi Room ~ Wifi Available ~ Newly Painted and Renovated House ~ O...,HDB Apartment

In [ ]:
# 유형별, 연도별 contains_virtual 평균 나타내기

In [ ]:
mask_condo_2019 = (df_all['Condo'] == True)&(df_all['listed_year'] == 2019)
len(df_all[mask_condo_2019])

33800

In [ ]:
mask_condo_2020 = (df_all['Condo'] == True)&(df_all['listed_year'] == 2020)
len(df_all[mask_condo_2020])

62160

In [ ]:
mask_condo_2021 = (df_all['Condo'] == True)&(df_all['listed_year'] == 2021)
len(df_all[mask_condo_2021])

39418

In [ ]:
mask_hdb_2019 = (df_all['HDB'] == True)&(df_all['listed_year']==2019)
mask_hdb_2020 = (df_all['HDB'] == True)&(df_all['listed_year']==2020)
mask_hdb_2021 = (df_all['HDB'] == True)&(df_all['listed_year']==2021)
print(len(df_all[mask_hdb_2019]), len(df_all[mask_hdb_2020]), len(df_all[mask_hdb_2021]))

30646 20482 15986

In [ ]:
mask_apt_2019 = (df_all['Apartment'] == True)&(df_all['listed_year']==2019)
mask_apt_2020 = (df_all['Apartment'] == True)&(df_all['listed_year']==2020)
mask_apt_2021 = (df_all['Apartment'] == True)&(df_all['listed_year']==2021)
print(len(df_all[mask_apt_2019]), len(df_all[mask_apt_2020]), len(df_all[mask_apt_2021]))

17198 24248 16786

In [ ]:
# 2019년 유형별 합계가 2019년 리스팅 갯수랑 안맞아서 확인
mask_apt_hdb = (df_all['Apartment']==True)&(df_all['HDB']==True)
len(df_all[mask_apt_hdb])

2026

In [ ]:
# hdb apartment 타입인 경우 apartment 컬럼을 False로 변경
df_all.loc[mask_apt_hdb, 'Apartment'] = False

In [ ]:
mask_apt_2019 = (df_all['Apartment'] == True)&(df_all['listed_year']==2019)
mask_apt_2020 = (df_all['Apartment'] == True)&(df_all['listed_year']==2020)
mask_apt_2021 = (df_all['Apartment'] == True)&(df_all['listed_year']==2021)
print(len(df_all[mask_apt_2019]), len(df_all[mask_apt_2020]), len(df_all[mask_apt_2021]))

15172 24248 16786

### condo listing 내보내기

In [ ]:
# 콘도 데이터
df_all[df_all['Condo']==True].to_excel("/content/drive/MyDrive/PropertyGuru/Rent_preprocessed_1/Condo_Rent_Listings.xlsx")

In [ ]:
# HDB 데이터
df_all[df_all['HDB']==True].to_excel("/content/drive/MyDrive/PropertyGuru/Rent_preprocessed_1/HDB_Rent_Listings.xlsx")

In [ ]:
# APT 데이터
df_all[df_all['Apartment']==True].to_excel("/content/drive/MyDrive/PropertyGuru/Rent_preprocessed_1/Apartment_Rent_Listings.xlsx")